{% extends 'layout.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/informes.css' %}">
<h1 class="text-center p-3">Crear Informe</h1>
<form method="post" action="" class="">
    {% csrf_token %}

    <!-- proveedores -->
    <div class="container border border-primary rounded mt-3">
        <label for="productos" class="p-2">Proveedores:</label>
        <input type="checkbox" class="proveedores" name="proveedores" id="proveedores" onclick="checkeado(this.form)"/></br>
        
        <div class="row row-cols-4">
            <div class="col border border-primary rounded">
                </br>
                <label for="productos" class="p-2">Correo:</label>
                <input type="checkbox" class="correoP" name="correoP" id="correoP"/></br>

                <label for="productos" class="p-2">Telefono:</label>
                <input type="checkbox" class="telefonoP" name="telefonoP" id="telefonoP"/></br>

                <label for="productos" class="p-2">Direccion:</label>
                <input type="checkbox" class="direccionP" name="direccionP" id="direccionP"/></br>
            </div>

            <div class="col border border-primary rounded">
                <label for="productos" class="p-2">Estado proveedor:</label>
                <input type="checkbox" class="estadoP" name="estadoP" id="estadoP" onclick="checkeado(this.form)"/></br></br>
                <input type="radio" name="estadoProveedorCheck" value="todosP" id="estadoProveedorCheck1" onclick="checkeado(this.form)"> Todos</br></br>
                <input type="radio" name="estadoProveedorCheck" value="activosP" id="estadoProveedorCheck2" onclick="checkeado(this.form)"> Activos</br></br>
                <input type="radio" name="estadoProveedorCheck" value="bloqueadosP" id="estadoProveedorCheck3" onclick="checkeado(this.form)"> Bloqueados</br></br>
            </div>

            <div class="col border border-primary rounded">
                <label for="productos" class="p-2">Razon social:</label>
                <input type="checkbox" class="razonSocialP" name="razonSocialP" id="razonSocialP" onclick="checkeado(this.form)"/></br></br>
                <input type="radio" name="razonSocialPCheck" value="todosP" id="razonSocialPCheck1" onclick="checkeado(this.form)"> Todos</br></br>
                <input type="radio" name="razonSocialPCheck" value="porRazonScoailP" id="razonSocialPCheck2" onclick="checkeado(this.form)"> Por razon social</br>
                {{ formProveedor.proveedor }} 
            </div>

            <div class="col border border-primary rounded">
                <label for="productos" class="p-2">Categoria proveedor:</label>
                <input type="checkbox" class="categoriaP" name="categoriaP" id="categoriaP" onclick="checkeado(this.form)"/></br></br>
                <input type="radio" name="categoriaProveedorCheck" value="todosP" id="categoriaProveedorCheck1" onclick="checkeado(this.form)"> Todos</br></br>
                <input type="radio" name="categoriaProveedorCheck" value="categoriaP" id="categoriaProveedorCheck2" onclick="checkeado(this.form)"> Por categoria</br>
                {{ formCatProv.categoria_proveedor }} 
            </div>
        </div>
    </div>
    
    <!-- seguimiento pagina -->
    <div class="container border border-primary rounded mt-3">
        <label for="productos" class="p-2">Visitas a paginas:</label>
        <input type="checkbox" class="visitas" name="visitas" id="visitas" onclick="checkeado(this.form)"/></br>
        
        <div class="row row-cols-2">

            <div class="col border border-primary rounded">
                <label for="productos" class="p-2">Usuario:</label>
                <input type="checkbox" class="usuarioPaginaVisitada" name="usuarioPaginaVisitada" id="usuarioPaginaVisitada" onclick="checkeado(this.form)"/></br></br>
                <input type="radio" name="usuarioVisitasPaginaCheck" value="todosVisitasP" id="usuarioVisitasPaginaCheck1" onclick="checkeado(this.form)"> Todos</br></br>
                <input type="radio" name="usuarioVisitasPaginaCheck" value="porNombreVisitasP" id="usuarioVisitasPaginaCheck2" onclick="checkeado(this.form)"> Por nombre</br>
                {{ FormSeg.usuario }} 
                </br></br>
            </div>
            
            <div class="col border border-primary rounded">
                </br>
                <label for="productos" class="p-2">Fecha ingreso:</label>
                <input type="checkbox" class="fechaVisitasP" name="fechaVisitasP" id="fechaVisitasP"/></br>

                <label for="productos" class="p-2">Pagina visitada:</label>
                <input type="checkbox" class="paginaVisitada" name="paginaVisitada" id="paginaVisitada"/></br>
            </div>
  
        </div>
    
    </div>
    <div class="container p-3">
        <div class="row">
            <div class="col-md-2">
            </div>

            <div class="col-md-4 text-center border border-dark rounded">
                <br>
                <label for="">Exportar a documento tipo:</label></br></br>
                <input type="radio" name="informeCheck" value="informeExcel" id="informeCheck1" onclick="checkeado(this.form)"> Excel</br></br>
                <input type="radio" name="informeCheck" value="informeWord" id="informeCheck2" onclick="checkeado(this.form)"> Word</br></br>
                <input type="radio" name="informeCheck" value="informePdf" id="informeCheck3" onclick="checkeado(this.form)"> PDF</br><br>
            </div>

            <div class="col-md-4 text-center border border-dark rounded">
                <br>
                <label for="">Para obtener una vista previa o descargar el informe, debe seleccionar un formato para el documento:</label></br></br>
                <button type="" id="vistaPrevia" class="btn btn-primary">Vista previa</button><br><br>
                <button type="submit" id="descargarInforme" class="btn btn-primary">Descargar</button><br><br>
            </div>

            <div class="col-md-2">
            </div>
        </div>
    </div>

</form>

<script language="JavaScript">
   
    document.getElementById("correoP").disabled=true;
    document.getElementById("telefonoP").disabled=true;
    document.getElementById("direccionP").disabled=true;
    document.getElementById("estadoP").disabled=true;
    document.getElementById("estadoProveedorCheck1").disabled=true;
    document.getElementById("estadoProveedorCheck2").disabled=true;
    document.getElementById("estadoProveedorCheck3").disabled=true;
    document.getElementById("razonSocialP").disabled=true;
    document.getElementById("razonSocialPCheck1").disabled=true;
    document.getElementById("razonSocialPCheck2").disabled=true;
    document.getElementById("categoriaP").disabled=true;
    document.getElementById("categoriaProveedorCheck1").disabled=true;
    document.getElementById("categoriaProveedorCheck2").disabled=true;
    document.getElementById("id_proveedor").disabled=true;
    document.getElementById("id_categoria_proveedor").disabled=true;

    document.getElementById("usuarioPaginaVisitada").disabled=true;
    document.getElementById("usuarioVisitasPaginaCheck1").disabled=true;
    document.getElementById("usuarioVisitasPaginaCheck2").disabled=true;
    document.getElementById("id_visitas_pagina").disabled=true;
    document.getElementById("fechaVisitasP").disabled=true;
    document.getElementById("paginaVisitada").disabled=true;
    
    document.getElementById("descargarInforme").disabled=true;
    document.getElementById("vistaPrevia").disabled=true;
    
    function checkeado(form)
    {

        //proveedores
        if (form.proveedores.checked == true){
            
            form.correoP.disabled = false;
            form.telefonoP.disabled = false;
            form.direccionP.disabled = false;
            form.estadoP.disabled = false;
            form.razonSocialP.disabled = false;
            form.categoriaP.disabled = false;
            
        }

        if (form.proveedores.checked == false || form.proveedores.disabled == true){
            form.correoP.disabled = true;
            form.telefonoP.disabled = true;
            form.direccionP.disabled = true;
            form.estadoP.disabled = true;
            form.razonSocialP.disabled = true;
            form.categoriaP.disabled = true;
        }

        if (form.estadoP.checked == true){
            
            form.estadoProveedorCheck1.disabled = false;
            form.estadoProveedorCheck2.disabled = false;
            form.estadoProveedorCheck3.disabled = false;
        }

        if (form.estadoP.checked == false || form.estadoP.disabled == true){
            form.estadoProveedorCheck1.disabled = true;
            form.estadoProveedorCheck2.disabled = true;
            form.estadoProveedorCheck3.disabled = true;
        }
        
        if (form.razonSocialP.checked == true){
            
            form.razonSocialPCheck1.disabled = false;
            form.razonSocialPCheck2.disabled = false;
        }

        if (form.razonSocialP.checked == false || form.razonSocialP.disabled == true){
            form.razonSocialPCheck1.disabled = true;
            form.razonSocialPCheck2.disabled = true;
        }

        if (form.razonSocialPCheck2.checked == true){
            form.id_proveedor.disabled = false;
        }

        if (form.razonSocialPCheck1.checked == true){
            form.id_proveedor.disabled = true;
        }

        if (form.categoriaP.checked == true){
            
            form.categoriaProveedorCheck1.disabled = false;
            form.categoriaProveedorCheck2.disabled = false;
        }

        if (form.categoriaP.checked == false || form.categoriaP.disabled == true){
            form.categoriaProveedorCheck1.disabled = true;
            form.categoriaProveedorCheck2.disabled = true;
        }

        if (form.categoriaProveedorCheck2.checked == true){
            form.id_categoria_proveedor.disabled = false;
        }

        if (form.categoriaProveedorCheck1.checked == true){
            form.id_categoria_proveedor.disabled = true;
        }

        //visitas
        if (form.visitas.checked == true){
            
            form.usuarioPaginaVisitada.disabled = false;
            form.fechaVisitasP.disabled = false;
            form.paginaVisitada.disabled = false;
        }

        if (form.visitas.checked == false || form.visitas.disabled == true){
            form.usuarioPaginaVisitada.disabled = true;
            form.fechaVisitasP.disabled = true;
            form.paginaVisitada.disabled = true;
        }
        //
        if (form.usuarioPaginaVisitada.checked == true){
            
            form.usuarioVisitasPaginaCheck1.disabled = false;
            form.usuarioVisitasPaginaCheck2.disabled = false;
            
        }

        if (form.usuarioPaginaVisitada.checked == false || form.usuarioPaginaVisitada.disabled == true){
            form.usuarioVisitasPaginaCheck1.disabled = true;
            form.usuarioVisitasPaginaCheck2.disabled = true;
            
        }

        if (form.usuarioVisitasPaginaCheck2.checked == true){
            form.id_visitas_pagina.disabled = false;
        }

        if (form.usuarioVisitasPaginaCheck1.checked == true){
            form.id_visitas_pagina.disabled = true;
        }


        //informes

        if (form.informeCheck1.checked == true || form.informeCheck2.checked == true || form.informeCheck3.checked == true ){
            form.descargarInforme.disabled = false;
            form.vistaPrevia.disabled = false;
        }
    }
    
</script>
<!-- <script src="{% static 'js/informe.js' %}"></script> -->
{% endblock %}