{% extends 'layout.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/informes.css' %}">
<h1 class="text-center p-3">Crear Informe de boletas</h1>
<form method="post" action="" class="">
    {% csrf_token %}

    <!-- boletas -->
    <div class="container border border-primary rounded mt-3">
        <label for="productos" class="p-2">Boletas:</label>
        <input type="checkbox" class="boletas" name="boletas" id="boletas" onclick="checkeado(this.form)"/></br>
           
        <div class="row row-cols-5">
            <div class="col border border-primary rounded">
                </br>
                <label for="productos" class="p-2">Fecha:</label>
                <input type="checkbox" class="fecha" name="fecha" id="fecha"/></br>

                <label for="productos" class="p-2">Total:</label>
                <input type="checkbox" class="total" name="total" id="total"/></br>
            </div>

            <div class="col border border-primary rounded">
                <label for="productos" class="p-2">Usuario:</label>
                <input type="checkbox" class="usuarioBoleta" name="usuarioB" id="usuarioB" onclick="checkeado(this.form)"/></br></br>
                <input type="radio" name="usuarioBoletaCheck" value="todosB" id="usuarioBoletaCheck1" checked onclick="checkeado(this.form)"> Todos</br></br>
                <input type="radio" name="usuarioBoletaCheck" value="porNombreB" id="usuarioBoletaCheck2" onclick="checkeado(this.form)"> Por nombre</br>
                {{ formU.usuario }}
            </div>

            <div class="col border border-primary rounded">
                <label for="productos" class="p-2">Cliente fiado:</label>
                <input type="checkbox" class="clienteBoleta" name="clienteB" id="clienteB" onclick="checkeado(this.form)"/></br></br>
                <input type="radio" name="clienteBoletaCheck" value="todosB" id="clienteBoletaCheck1" checked onclick="checkeado(this.form)"> Todos</br></br>
                <input type="radio" name="clienteBoletaCheck" value="porNombreB" id="clienteBoletaCheck2" onclick="checkeado(this.form)"> Por nombre</br>
                {{ formC.cliente }}
            </div>

            <div class="col border border-primary rounded">
                <label for="productos" class="p-2">Estado:</label>
                <input type="checkbox" class="estadoBoleta" name="estadoB" id="estadoB" onclick="checkeado(this.form)"/></br>
                <input type="radio" name="estadoBoletaCheck" value="todosB" id="estadoBoletaCheck1" checked onclick="checkeado(this.form)"> Todos</br></br>
                <input type="radio" name="estadoBoletaCheck" value="activasB" id="estadoBoletaCheck2" onclick="checkeado(this.form)"> Activas</br></br>
                <input type="radio" name="estadoBoletaCheck" value="anuladasB" id="estadoBoletaCheck3" onclick="checkeado(this.form)"> Anuladas</br></br>
            </div>

            <div class="col border border-primary rounded">
                <label for="productos" class="p-2">Detalle de boleta:</label>
                <input type="checkbox" class="detalleBoleta" name="detalleBoleta" id="detalleBoleta" onclick="checkeado(this.form)"/></br>
                <label for="productos" class="p-2">Producto:</label>
                <input type="checkbox" class="productoDetalle" name="productoDetalle" id="productoDetalle" onclick="checkeado(this.form)"/></br>
                <label for="productos" class="p-2">Cantidad:</label>
                <input type="checkbox" class="cantidadDetalle" name="cantidadDetalle" id="cantidadDetalle" onclick="checkeado(this.form)"/></br>
                <label for="productos" class="p-2">Precio:</label>
                <input type="checkbox" class="precioDetalle" name="precioDetalle" id="precioDetalle" onclick="checkeado(this.form)"/></br>
            </div>
            
        </div>
    </div>

    <!-- seguimiento pagina -->
    <div class="container border border-primary rounded mt-3">
        <label for="productos" class="p-2">Visitas a paginas:</label>
        <input type="checkbox" class="visitas" name="visitas" id="visitas" onclick="checkeado(this.form)"/></br>
        
        <div class="row row-cols-2">

            <div class="col border border-primary rounded">
                <label for="productos" class="p-2">Usuario:</label>
                <input type="checkbox" class="usuarioPaginaVisitada" name="usuarioPaginaVisitada" id="usuarioPaginaVisitada" onclick="checkeado(this.form)"/></br></br>
                <input type="radio" name="usuarioVisitasPaginaCheck" value="todosVisitasP" id="usuarioVisitasPaginaCheck1" checked onclick="checkeado(this.form)"> Todos</br></br>
                <input type="radio" name="usuarioVisitasPaginaCheck" value="porNombreVisitasP" id="usuarioVisitasPaginaCheck2" onclick="checkeado(this.form)"> Por nombre</br>
                {{ FormSeg.usuario }} 
                </br></br>
            </div>
            
            <div class="col border border-primary rounded">
                </br>
                <label for="productos" class="p-2">Fecha ingreso:</label>
                <input type="checkbox" class="fechaVisitasP" name="fechaVisitasP" id="fechaVisitasP"/></br>

                <label for="productos" class="p-2">Pagina visitada:</label>
                <input type="checkbox" class="paginaVisitada" name="paginaVisitada" id="paginaVisitada"/></br>
            </div>
  
        </div>
    
    </div>
    <div class="container p-3">
        <div class="row">
            <div class="col-md-2">
            </div>

            <div class="col-md-4 text-center border border-dark rounded">
                <br>
                <label for="">Exportar a documento tipo:</label></br></br>
                <input type="radio" name="informeCheck" value="informeExcel" id="informeCheck1" onclick="checkeado(this.form)"> Excel</br></br>
                <input type="radio" name="informeCheck" value="informeWord" id="informeCheck2" onclick="checkeado(this.form)"> Word</br></br>
                <input type="radio" name="informeCheck" value="informePdf" id="informeCheck3" onclick="checkeado(this.form)"> PDF</br><br>
            </div>

            <div class="col-md-4 text-center border border-dark rounded">
                <br>
                <label for="">Para descargar el informe debe seleccionar un formato de documento, para obtener una vista previa del informe solo se puede en formato PDF:</label></br></br>
                <button type="submit" name="vistaPrevia" value="vistaPrevia" id="vistaPrevia" class="btn btn-primary">Vista previa</button><br><br>
                <button type="submit" name="descargarInforme" value="descargarInforme" id="descargarInforme" class="btn btn-primary">Descargar</button><br><br>
            </div>

            <div class="col-md-2">
            </div>
        </div>
    </div>

</form>
<script>
    function manual(){
        Swal.fire({
            title: 'Manual',
            html: `En esta página podremos crear informes de los datos pertenecientes 
            a las boletas y el detalle de estas.<br>
            Estos informes se podrán exportar en tres tipos de formato, los cuales son:
            <br><br> 
            • Microsoft Excel<br>
            • Microsoft Word <br>
            • PDF
            <br><br>
            Para poder crear un informe deberemos seleccionar los datos que queremos 
            que lo integren.<br>
            Primero debemos hacer clic en un pequeño recuadro que encontraremos justo 
            de lado del texto de lo que queramos incluir, en este caso incluiremos 
            “Boletas”.<br>
            En caso de querer agregar las visitas, de igual forma deberemos seleccionar 
            el pequeño recuadro que esta junto al texto “Visitas a paginas”.
            Al hacer clic sobre esos recuadros se nos marcarán.<br>
            Al marcar cualquiera de los apartados que deseemos, se nos habilitaran 
            más casillas las cuales podremos marcar, pudiendo personalizar los datos 
            que queremos extraer del documento a nuestro gusto según lo que se requiera 
            analizar. 
            <br><br>
            De igual forma se nos habilitaran los selectores, que se encuentran en 
            cuadros independientes, dentro de estos selectores siempre estará marcada 
            por defecto la opción “Todos”.<br>
            Estos selectores tienen la funcionalidad de hacer un filtrado de datos.
            Por ejemplo, si se hace clic en el selector de estado, con el parámetro 
            “Activas”<br>
            Dentro del informe se nos incluirán los datos sólo de las boletas que se 
            encuentren activas.
            <br><br>
            Por otra parte, tenemos los selectores con filtros por nombre, si hacemos 
            clic en el selector que dice “Por nombre” este nos habilitara una lista 
            desplegable que contiene “------”.
            <br><br>
            Esto también nos servirá para hacer un filtrado de datos.
            Por ejemplo, si hacemos clic en el selector “Por nombre” del usuario, la 
            lista desplegable se habilitará y podremos hacer clic sobre ella, esto nos 
            mostrara un listado con los nombres de los usuarios en sistema.<br> 
            Luego haremos clic en el nombre que necesitemos y quedara escrito dentro 
            del campo. Esto también aplica para las visitas a páginas.
            <br><br>
            Una vez seleccionados todos los datos que necesitemos, podemos seleccionar 
            el formato de documento que necesitemos, uno de ellos es el tipo Excel, 
            solo deberemos marcar la casilla conjunta al nombre del tipo de documento 
            que necesitemos, esto ocasionará que se nos habilite de forma automática 
            el botón “Descargar” (Para el tipo de formato Excel, no se encuentra 
            disponible la vista previa del documento, es por esto que no se encuentra 
            habilitada)<br>
            Luego procederemos a hacer clic al botón “Descargar”, esto nos descargara 
            el documento en formato Excel dentro de la ruta especificada al momento de 
            la descarga, esto nos permitirá conservar la copia y poder abrirla con la 
            herramienta que estimemos conveniente, en este caso, Microsoft Excel.
            <br><br>
            El otro formato de documento disponible es del tipo Word, Para esto, al 
            igual que con Excel, solo deberemos marcar la casilla conjunta, esto 
            ocasionará que se nos habilite de forma automática el botón “Descargar” 
            (Para este tipo de formato, tampoco se encuentra habilitada la vista previa)
            Luego procederemos a hacer clic al botón “Descargar”, esto nos descargara el 
            documento en formato Word dentro de la ruta especificada al momento de la 
            descarga, esto nos permitirá conservar la copia y poder abrirla con la 
            herramienta que estimemos conveniente, en este caso, Microsoft Word.
            <br><br>
            El ultimo formato de documento que tenemos es del tipo PDF, para esto, al 
            igual que con los otros dos tipos de archivos, deberemos marcar nuevamente 
            la casilla conjunta con el nombre correspondiente a dicho formato, esto 
            ocasionará que se nos habilite de forma automática el botón “Descargar” 
            y “Vista previa”<br>
            Cuando hacemos clic en el botón de “Vista previa”, la página en la que 
            estamos situados cambiara, mostrándonos una vista previa del documento 
            para acceder a él sin la necesidad de descargarlo. 
            <br><br>
            Si deseamos descargar una copia de este documento, solo debemos presionar 
            el botón de “Descargar”.<br>
            Esto nos descargara el documento en formato PDF, pudiendo acceder a el 
            esta vez de forma local, permitiendo abrirlo con la herramienta que estime 
            conveniente para la lectura de este tipo de archivos. 
            `,
            showConfirmButton: true,
            confirmButtonText: 'Continuar',
        })
    }
</script>
<script language="JavaScript">

    document.getElementById("fecha").disabled=true;
    document.getElementById("total").disabled=true;
    document.getElementById("usuarioB").disabled=true;
    document.getElementById("clienteB").disabled=true;
    document.getElementById("estadoB").disabled=true;

    document.getElementById("usuarioBoletaCheck1").disabled=true;
    document.getElementById("usuarioBoletaCheck2").disabled=true;
    
    document.getElementById("clienteBoletaCheck1").disabled=true;
    document.getElementById("clienteBoletaCheck2").disabled=true;
    
    document.getElementById("estadoBoletaCheck1").disabled=true;
    document.getElementById("estadoBoletaCheck2").disabled=true;
    document.getElementById("estadoBoletaCheck3").disabled=true;

    document.getElementById("id_usuario").disabled=true;
    document.getElementById("id_cliente").disabled=true;

    document.getElementById("detalleBoleta").disabled=true;
    document.getElementById("productoDetalle").disabled=true;
    document.getElementById("cantidadDetalle").disabled=true;
    document.getElementById("precioDetalle").disabled=true;

    document.getElementById("usuarioPaginaVisitada").disabled=true;
    document.getElementById("usuarioVisitasPaginaCheck1").disabled=true;
    document.getElementById("usuarioVisitasPaginaCheck2").disabled=true;
    document.getElementById("id_visitas_pagina").disabled=true;
    document.getElementById("fechaVisitasP").disabled=true;
    document.getElementById("paginaVisitada").disabled=true;
    
    document.getElementById("descargarInforme").disabled=true;
    document.getElementById("vistaPrevia").disabled=true;

    document.getElementById("informeCheck1").disabled=true;
    document.getElementById("informeCheck2").disabled=true;
    document.getElementById("informeCheck3").disabled=true;
    
    function checkeado(form)
    {
        
        // boletas
        if (form.boletas.checked == true)
        {
            form.fecha.disabled = false;
            form.total.disabled = false;
            form.usuarioB.disabled = false;
            form.clienteB.disabled = false;
            form.estadoB.disabled = false;
            form.detalleBoleta.disabled = false;
            form.informeCheck1.disabled = false;
            form.informeCheck2.disabled = false;
            form.informeCheck3.disabled = false;
        }

        if (form.boletas.checked == false)
        {
            form.fecha.disabled = true;
            form.total.disabled = true;
            form.usuarioB.disabled = true;
            form.clienteB.disabled = true;
            form.estadoB.disabled = true;
            form.detalleBoleta.disabled = true;

            form.usuarioBoletaCheck1.disabled = true;
            form.usuarioBoletaCheck2.disabled = true;
            form.clienteBoletaCheck1.disabled = true;
            form.clienteBoletaCheck2.disabled = true;
            form.estadoBoletaCheck1.disabled = true;
            form.estadoBoletaCheck2.disabled = true;
            form.estadoBoletaCheck3.disabled = true;
            form.informeCheck1.disabled = true;
            form.informeCheck2.disabled = true;
            form.informeCheck3.disabled = true;
            
        }

        if (form.usuarioB.checked == true){
            
            form.usuarioBoletaCheck1.disabled = false;
            form.usuarioBoletaCheck2.disabled = false;
        }

        if (form.usuarioB.checked == false || form.usuarioB.disabled == true){
            form.usuarioBoletaCheck1.disabled = true;
            form.usuarioBoletaCheck2.disabled = true;
        }

        if (form.usuarioBoletaCheck2.checked == true){
            form.id_usuario.disabled = false;
        }

        if (form.usuarioBoletaCheck1.checked == true){
            form.id_usuario.disabled = true;
        }

        if (form.clienteB.checked == true){
            
            form.clienteBoletaCheck1.disabled = false;
            form.clienteBoletaCheck2.disabled = false;
        }

        if (form.clienteB.checked == false || form.clienteB.disabled == true){
            form.clienteBoletaCheck1.disabled = true;
            form.clienteBoletaCheck2.disabled = true;
        }

        if (form.clienteBoletaCheck2.checked == true){
            form.id_cliente.disabled = false;
        }

        if (form.clienteBoletaCheck1.checked == true){
            form.id_cliente.disabled = true;
        }

        if (form.estadoB.checked == true){
            
            form.estadoBoletaCheck1.disabled = false;
            form.estadoBoletaCheck2.disabled = false;
            form.estadoBoletaCheck3.disabled = false;
        }

        if (form.estadoB.checked == false || form.estadoB.disabled == true){
            form.estadoBoletaCheck1.disabled = true;
            form.estadoBoletaCheck2.disabled = true;
            form.estadoBoletaCheck3.disabled = true;
        }

        //detalle
        if (form.detalleBoleta.checked == true){
            
            form.productoDetalle.disabled = false;
            form.cantidadDetalle.disabled = false;
            form.precioDetalle.disabled = false;
            
        }

        if (form.detalleBoleta.checked == false || form.detalleBoleta.disabled == true){
            form.productoDetalle.disabled = true;
            form.cantidadDetalle.disabled = true;
            form.precioDetalle.disabled = true;
        }
        
        //visitas
        if (form.visitas.checked == true){
            
            form.usuarioPaginaVisitada.disabled = false;
            form.fechaVisitasP.disabled = false;
            form.paginaVisitada.disabled = false;
        }

        if (form.visitas.checked == false || form.visitas.disabled == true){
            form.usuarioPaginaVisitada.disabled = true;
            form.fechaVisitasP.disabled = true;
            form.paginaVisitada.disabled = true;
        }
        //
        if (form.usuarioPaginaVisitada.checked == true){
            
            form.usuarioVisitasPaginaCheck1.disabled = false;
            form.usuarioVisitasPaginaCheck2.disabled = false;
            
        }

        if (form.usuarioPaginaVisitada.checked == false || form.usuarioPaginaVisitada.disabled == true){
            form.usuarioVisitasPaginaCheck1.disabled = true;
            form.usuarioVisitasPaginaCheck2.disabled = true;
            
        }

        if (form.usuarioVisitasPaginaCheck2.checked == true){
            form.id_visitas_pagina.disabled = false;
        }

        if (form.usuarioVisitasPaginaCheck1.checked == true){
            form.id_visitas_pagina.disabled = true;
        }


        //informes

        if (form.informeCheck3.checked == true ){
            form.descargarInforme.disabled = false;
            form.vistaPrevia.disabled = false;
        }

        if (form.informeCheck1.checked == true || form.informeCheck2.checked == true){
            form.descargarInforme.disabled = false;
        }

        if (form.informeCheck1.checked == true || form.informeCheck2.checked == true){
            form.vistaPrevia.disabled = true;
        }
    }
    
</script>
<!-- <script src="{% static 'js/informe.js' %}"></script> -->
{% endblock %}