{% extends 'layout.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/informes.css' %}">
<h1 class="text-center p-3">Crear Informe de pedidos</h1>
<form method="post" action="" class="">
    {% csrf_token %}
    
    <!-- orden pedido -->
    <div class="container border border-primary rounded mt-3">
        <label for="productos" class="p-2">Ordenes de pedidos:</label>
        <input type="checkbox" class="ordenes" name="ordenes" id="ordenes" onclick="checkeado(this.form)"/></br>
        
        <div class="row row-cols-4">
            <div class="col border border-primary rounded">
                </br>
                <label for="productos" class="p-2">Fecha pedido:</label>
                <input type="checkbox" class="fechaOrdenP" name="fechaOrdenP" id="fechaOrdenP"/></br>

                <label for="productos" class="p-2">Fecha llegada:</label>
                <input type="checkbox" class="fechaLlegadaOrdenP" name="fechaLlegadaOrdenP" id="fechaLlegadaOrdenP"/></br>

                <label for="productos" class="p-2">Fecha recepcion:</label>
                <input type="checkbox" class="fechaRecepOrdenP" name="fechaRecepOrdenP" id="fechaRecepOrdenP"/></br>

                <label for="productos" class="p-2">Hora recepcion:</label>
                <input type="checkbox" class="horaRecepOrdenP" name="horaRecepOrdenP" id="horaRecepOrdenP"/></br>

                
            </div>
            
            <div class="col border border-primary rounded">
                <label for="productos" class="p-2">Estado recepcion:</label>
                <input type="checkbox" class="estadoRecepcionO" name="estadoRecepcionO" id="estadoRecepcionO" onclick="checkeado(this.form)"/></br></br>
                <input type="radio" name="estadoOrdenPCheck" value="todosOrdenP" id="estadoOrdenPCheck1" checked onclick="checkeado(this.form)"> Todos</br></br>
                <input type="radio" name="estadoOrdenPCheck" value="enEsperaOrden" id="estadoOrdenPCheck2" onclick="checkeado(this.form)"> En espera</br></br>
                <input type="radio" name="estadoOrdenPCheck" value="recepcionadoOrden" id="estadoOrdenPCheck3" onclick="checkeado(this.form)"> Recepcionado</br></br>
            </div>

            <div class="col border border-primary rounded">
                <label for="productos" class="p-2">Nombre proveedor:</label>
                <input type="checkbox" class="razonSocialOrdenP" name="razonSocialOrdenP" id="razonSocialOrdenP" onclick="checkeado(this.form)"/></br></br>
                <input type="radio" name="razonSocialOrdenPCheck" value="todosOrdenP" id="razonSocialOrdenPCheck1" checked onclick="checkeado(this.form)"> Todos</br></br>
                <input type="radio" name="razonSocialOrdenPCheck" value="porRazonSocialOrdenP" id="razonSocialOrdenPCheck2" onclick="checkeado(this.form)"> Por razon social</br>
                {{ formProveeOrden.proveedor }} 
            </div>

            <div class="col border border-primary rounded">
                <label for="productos" class="p-2">Productos pedido</label>
                <input type="checkbox" class="detalleOrdenP" name="detalleOrdenP" id="detalleOrdenP" onclick="checkeado(this.form)"/></br></br>
                <label for="productos" class="p-2">Cantidad:</label>
                <input type="checkbox" class="cantidadOrdenP" name="cantidadOrdenP" id="cantidadOrdenP"/></br>
                <label for="productos" class="p-2">Producto:</label>
                <input type="checkbox" class="productoOrdenP" name="productoOrdenP" id="productoOrdenP"/></br>
            </div>
  
        </div>
    
    </div>
    
    <!-- seguimiento pagina -->
    <div class="container border border-primary rounded mt-3">
        <label for="productos" class="p-2">Visitas a paginas:</label>
        <input type="checkbox" class="visitas" name="visitas" id="visitas" onclick="checkeado(this.form)"/></br>
        
        <div class="row row-cols-2">

            <div class="col border border-primary rounded">
                <label for="productos" class="p-2">Usuario:</label>
                <input type="checkbox" class="usuarioPaginaVisitada" name="usuarioPaginaVisitada" id="usuarioPaginaVisitada" onclick="checkeado(this.form)"/></br></br>
                <input type="radio" name="usuarioVisitasPaginaCheck" value="todosVisitasP" id="usuarioVisitasPaginaCheck1" checked onclick="checkeado(this.form)"> Todos</br></br>
                <input type="radio" name="usuarioVisitasPaginaCheck" value="porNombreVisitasP" id="usuarioVisitasPaginaCheck2" onclick="checkeado(this.form)"> Por nombre</br>
                {{ FormSeg.usuario }} 
                </br></br>
            </div>
            
            <div class="col border border-primary rounded">
                </br>
                <label for="productos" class="p-2">Fecha ingreso:</label>
                <input type="checkbox" class="fechaVisitasP" name="fechaVisitasP" id="fechaVisitasP"/></br>

                <label for="productos" class="p-2">Pagina visitada:</label>
                <input type="checkbox" class="paginaVisitada" name="paginaVisitada" id="paginaVisitada"/></br>
            </div>
  
        </div>
    
    </div>
    <div class="container p-3">
        <div class="row">
            <div class="col-md-2">
            </div>

            <div class="col-md-4 text-center border border-dark rounded">
                <br>
                <label for="">Exportar a documento tipo:</label></br></br>
                <input type="radio" name="informeCheck" value="informeExcel" id="informeCheck1" onclick="checkeado(this.form)"> Excel</br></br>
                <input type="radio" name="informeCheck" value="informeWord" id="informeCheck2" onclick="checkeado(this.form)"> Word</br></br>
                <input type="radio" name="informeCheck" value="informePdf" id="informeCheck3" onclick="checkeado(this.form)"> PDF</br><br>
            </div>

            <div class="col-md-4 text-center border border-dark rounded">
                <br>
                <label for="">Para descargar el informe debe seleccionar un formato de documento, para obtener una vista previa del informe solo se puede en formato PDF:</label></br></br>
                <button type="submit" name="vistaPrevia" value="vistaPrevia" id="vistaPrevia" class="btn btn-primary">Vista previa</button><br><br>
                <button type="submit" name="descargarInforme" value="descargarInforme" id="descargarInforme" class="btn btn-primary">Descargar</button><br><br>
            </div>

            <div class="col-md-2">
            </div>
        </div>
    </div>

</form>
<script>
    function manual(){
        Swal.fire({
            title: 'Manual',
            html: `En esta página podremos crear informes de los datos de ordenes 
            de pedidos y el detalle de los productos de los pedidos, también de las 
            visitas que se realizaron a las paginas.<br>
            Estos informes se podrán exportar en tres tipos de formato, los cuales son:
            <br><br> 
            • Microsoft Excel<br>
            • Microsoft Word <br>
            • PDF
            <br><br>
            Para poder crear un informe deberemos seleccionar los datos que queremos 
            que lo integren.<br>
            Primero debemos hacer clic en un pequeño recuadro que encontraremos 
            justo de lado del texto de lo que queramos incluir, en este caso 
            incluiremos “Ordenes de pedidos”.<br>
            En caso de querer agregar las visitas, de igual forma deberemos 
            seleccionar el pequeño recuadro que esta junto al texto “Visitas 
            a paginas”.<br>
            Al hacer clic sobre esos recuadros se nos marcarán.<br>
            Al marcar cualquiera de los apartados que deseemos, se nos habilitaran 
            más casillas las cuales podremos marcar, pudiendo personalizar los datos 
            que queremos extraer del documento a nuestro gusto según lo que se 
            requiera analizar. 
            <br><br>
            De igual forma se nos habilitaran los selectores, que se encuentran 
            en cuadros independientes, dentro de estos selectores siempre estará 
            marcada por defecto la opción “Todos”.<br>
            Estos selectores tienen la funcionalidad de hacer un filtrado de datos.<br>
            Por ejemplo, si se hace clic en el selector de estado de recepción, con 
            el parámetro “En espera”.<br>
            Dentro del informe se nos incluirán los datos sólo de los pedidos que 
            se encuentren en espera.
            <br><br>
            Por otra parte, tenemos los selectores con filtros por nombre, si 
            hacemos clic en el selector que dice “Por nombre” o “Por razón social” 
            este nos habilitara una lista desplegable que contiene “------”.
            <br><br>
            Esto también nos servirá para hacer un filtrado de datos.<br>
            Por ejemplo, si hacemos clic en el selector “Por razón social” 
            del proveedor, la lista desplegable se habilitará y podremos hacer 
            clic sobre ella, esto nos mostrara un listado con los nombres de los 
            proveedores ingresados a sistema. <br>
            Luego haremos clic en el nombre que necesitemos y quedara escrito dentro 
            del campo. Esto también aplica para las visitas a páginas.
            <br><br>
            Una vez seleccionados todos los datos que necesitemos, podemos 
            seleccionar el formato de documento que necesitemos, uno de ellos 
            es el tipo Excel, solo deberemos marcar la casilla conjunta al nombre 
            del tipo de documento que necesitemos, esto ocasionará que se nos 
            habilite de forma automática el botón “Descargar” (Para el tipo de 
            formato Excel, no se encuentra disponible la vista previa del documento, 
            es por esto que no se encuentra habilitada)<br>
            Luego procederemos a hacer clic al botón “Descargar”, esto nos 
            descargara el documento en formato Excel dentro de la ruta especificada 
            al momento de la descarga, esto nos permitirá conservar la copia y poder 
            abrirla con la herramienta que estimemos conveniente, en este caso, 
            Microsoft Excel.
            <br><br>
            El otro formato de documento disponible es del tipo Word, Para esto, 
            al igual que con Excel, solo deberemos marcar la casilla conjunta, 
            esto ocasionará que se nos habilite de forma automática el botón 
            “Descargar” (Para este tipo de formato, tampoco se encuentra habilitada 
            la vista previa)<br>
            Luego procederemos a hacer clic al botón “Descargar”, esto nos descargara 
            el documento en formato Word dentro de la ruta especificada al momento de 
            la descarga, esto nos permitirá conservar la copia y poder abrirla con 
            la herramienta que estimemos conveniente, en este caso, Microsoft Word.
            <br><br>
            El ultimo formato de documento que tenemos es del tipo PDF, para esto, 
            al igual que con los otros dos tipos de archivos, deberemos marcar 
            nuevamente la casilla conjunta con el nombre correspondiente a dicho 
            formato, esto ocasionará que se nos habilite de forma automática el botón 
            “Descargar” y “Vista previa”<br>
            Cuando hacemos clic en el botón de vista previa, la página en la que 
            estamos situados se cambiara, mostrándonos desde la misma página una 
            vista previa del documento para acceder a el sin la necesidad de descargarlo. 
            <br><br>
            Si deseamos descargar una copia de este documento, solo debemos presionar 
            el botón de “Descargar”.<br>
            Esto nos descargara el documento en formato PDF, pudiendo acceder a el 
            esta vez de forma local, permitiendo abrirlo con la herramienta que estime 
            conveniente para la lectura de este tipo de archivos. 
            `,
            showConfirmButton: true,
            confirmButtonText: 'Continuar',
        })
    }
</script>
<script language="JavaScript">

    document.getElementById("fechaOrdenP").disabled=true;
    document.getElementById("fechaLlegadaOrdenP").disabled=true;
    document.getElementById("fechaRecepOrdenP").disabled=true;
    document.getElementById("horaRecepOrdenP").disabled=true;
    document.getElementById("estadoRecepcionO").disabled=true;
    document.getElementById("estadoOrdenPCheck1").disabled=true;
    document.getElementById("estadoOrdenPCheck2").disabled=true;
    document.getElementById("estadoOrdenPCheck3").disabled=true;
    document.getElementById("razonSocialOrdenP").disabled=true;
    document.getElementById("razonSocialOrdenPCheck1").disabled=true;
    document.getElementById("razonSocialOrdenPCheck2").disabled=true;
    document.getElementById("id_ordenP_informe").disabled=true;
    document.getElementById("detalleOrdenP").disabled=true;
    document.getElementById("cantidadOrdenP").disabled=true;
    document.getElementById("productoOrdenP").disabled=true;
    
    document.getElementById("usuarioPaginaVisitada").disabled=true;
    document.getElementById("usuarioVisitasPaginaCheck1").disabled=true;
    document.getElementById("usuarioVisitasPaginaCheck2").disabled=true;
    document.getElementById("id_visitas_pagina").disabled=true;
    document.getElementById("fechaVisitasP").disabled=true;
    document.getElementById("paginaVisitada").disabled=true;
    
    document.getElementById("descargarInforme").disabled=true;
    document.getElementById("vistaPrevia").disabled=true;

    document.getElementById("informeCheck1").disabled=true;
    document.getElementById("informeCheck2").disabled=true;
    document.getElementById("informeCheck3").disabled=true;
    
    function checkeado(form)
    {

        //orden pedido
        if (form.ordenes.checked == true){
            
            form.fechaOrdenP.disabled = false;
            form.fechaLlegadaOrdenP.disabled = false;
            form.fechaRecepOrdenP.disabled = false;
            form.horaRecepOrdenP.disabled = false;
            form.estadoRecepcionO.disabled = false;
            form.razonSocialOrdenP.disabled = false;
            form.detalleOrdenP.disabled = false;
            form.informeCheck1.disabled = false;
            form.informeCheck2.disabled = false;
            form.informeCheck3.disabled = false;
            
        }

        if (form.ordenes.checked == false || form.ordenes.disabled == true){
            form.fechaOrdenP.disabled = true;
            form.fechaLlegadaOrdenP.disabled = true;
            form.fechaRecepOrdenP.disabled = true;
            form.horaRecepOrdenP.disabled = true;
            form.estadoRecepcionO.disabled = true;
            form.razonSocialOrdenP.disabled = true;
            form.detalleOrdenP.disabled = true;
            form.informeCheck1.disabled = true;
            form.informeCheck2.disabled = true;
            form.informeCheck3.disabled = true;
        }
        
        if (form.estadoRecepcionO.checked == true){
            
            form.estadoOrdenPCheck1.disabled = false;
            form.estadoOrdenPCheck2.disabled = false;
            form.estadoOrdenPCheck3.disabled = false;
        }

        if (form.estadoRecepcionO.checked == false || form.estadoRecepcionO.disabled == true){
            form.estadoOrdenPCheck1.disabled = true;
            form.estadoOrdenPCheck2.disabled = true;
            form.estadoOrdenPCheck3.disabled = true;
        }
        
        if (form.detalleOrdenP.checked == true){
            
            form.cantidadOrdenP.disabled = false;
            form.productoOrdenP.disabled = false;
        }

        if (form.detalleOrdenP.checked == false || form.detalleOrdenP.disabled == true){
            form.cantidadOrdenP.disabled = true;
            form.productoOrdenP.disabled = true;
        }
        
        if (form.razonSocialOrdenP.checked == true){
            
            form.razonSocialOrdenPCheck1.disabled = false;
            form.razonSocialOrdenPCheck2.disabled = false;
            
        }

        if (form.razonSocialOrdenP.checked == false || form.razonSocialOrdenP.disabled == true){
            form.razonSocialOrdenPCheck1.disabled = true;
            form.razonSocialOrdenPCheck2.disabled = true;
            
        }

        if (form.razonSocialOrdenPCheck2.checked == true){
            form.id_ordenP_informe.disabled = false;
        }

        if (form.razonSocialOrdenPCheck1.checked == true){
            form.id_ordenP_informe.disabled = true;
        }

        //visitas
        if (form.visitas.checked == true){
            
            form.usuarioPaginaVisitada.disabled = false;
            form.fechaVisitasP.disabled = false;
            form.paginaVisitada.disabled = false;
        }

        if (form.visitas.checked == false || form.visitas.disabled == true){
            form.usuarioPaginaVisitada.disabled = true;
            form.fechaVisitasP.disabled = true;
            form.paginaVisitada.disabled = true;
        }
        //
        if (form.usuarioPaginaVisitada.checked == true){
            
            form.usuarioVisitasPaginaCheck1.disabled = false;
            form.usuarioVisitasPaginaCheck2.disabled = false;
            
        }

        if (form.usuarioPaginaVisitada.checked == false || form.usuarioPaginaVisitada.disabled == true){
            form.usuarioVisitasPaginaCheck1.disabled = true;
            form.usuarioVisitasPaginaCheck2.disabled = true;
            
        }

        if (form.usuarioVisitasPaginaCheck2.checked == true){
            form.id_visitas_pagina.disabled = false;
        }

        if (form.usuarioVisitasPaginaCheck1.checked == true){
            form.id_visitas_pagina.disabled = true;
        }


        //informes

        if (form.informeCheck3.checked == true ){
            form.descargarInforme.disabled = false;
            form.vistaPrevia.disabled = false;
        }

        if (form.informeCheck1.checked == true || form.informeCheck2.checked == true){
            form.descargarInforme.disabled = false;
        }

        if (form.informeCheck1.checked == true || form.informeCheck2.checked == true){
            form.vistaPrevia.disabled = true;
        }
    }
    
</script>
<!-- <script src="{% static 'js/informe.js' %}"></script> -->
{% endblock %}