{% extends 'layout.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/informes.css' %}">
<h1 class="text-center p-3">Crear Informe de fiados</h1>
<form method="post" action="" class="">
    {% csrf_token %}

    <!-- fiados -->
    <div class="container border border-primary rounded mt-3">
        <label for="productos" class="p-2">Fiados:</label>
        <input type="checkbox" class="fiados" name="fiados" id="fiados" onclick="checkeado(this.form)"/></br>
        
        <div class="row row-cols-3">
            <div class="col border border-primary rounded">
                </br>
                <label for="productos" class="p-2">Monto:</label>
                <input type="checkbox" class="montoF" name="montoF" id="montoF"/></br>

                <label for="productos" class="p-2">Fecha creacion:</label>
                <input type="checkbox" class="fechaF" name="fechaF" id="fechaF"/></br>

                <label for="productos" class="p-2">Fecha pago completado:</label>
                <input type="checkbox" class="fechaFinalF" name="fechaFinalF" id="fechaFinalF"/></br>
                
                <label for="productos" class="p-2">Cliente:</label>
                <input type="checkbox" class="clienteFiado" name="clienteFiado" id="clienteFiado"/></br></br>
            </div>
            
            <div class="col border border-primary rounded">
                <label for="productos" class="p-2">Estado fiado:</label>
                <input type="checkbox" class="estadoF" name="estadoF" id="estadoF" onclick="checkeado(this.form)"/></br></br>
                <input type="radio" name="estadoFiadoCheck" value="todosF" id="estadoFiadoCheck1" onclick="checkeado(this.form)"> Todos</br></br>
                <input type="radio" name="estadoFiadoCheck" value="alDia" id="estadoFiadoCheck2" onclick="checkeado(this.form)"> Al dia</br></br>
                <input type="radio" name="estadoFiadoCheck" value="atrasados" id="estadoFiadoCheck3" onclick="checkeado(this.form)"> Atrasados</br></br>
            </div>

            <div class="col border border-primary rounded">
                <label for="productos" class="p-2">Detalle pagos:</label>
                <input type="checkbox" class="detallePagosF" name="detallePagosF" id="detallePagosF" onclick="checkeado(this.form)"/></br></br>
                
                <label for="productos" class="p-2">Monto abonado:</label>
                <input type="checkbox" class="montoAbonadoF" name="montoAbonadoF" id="montoAbonadoF"/></br>

                <label for="productos" class="p-2">Fecha abono:</label>
                <input type="checkbox" class="fechaAbonoF" name="fechaAbonoF" id="fechaAbonoF"/></br>
            </div>
            
        </div>
    
    </div>

    <!-- seguimiento pagina -->
    <div class="container border border-primary rounded mt-3">
        <label for="productos" class="p-2">Visitas a paginas:</label>
        <input type="checkbox" class="visitas" name="visitas" id="visitas" onclick="checkeado(this.form)"/></br>
        
        <div class="row row-cols-2">

            <div class="col border border-primary rounded">
                <label for="productos" class="p-2">Usuario:</label>
                <input type="checkbox" class="usuarioPaginaVisitada" name="usuarioPaginaVisitada" id="usuarioPaginaVisitada" onclick="checkeado(this.form)"/></br></br>
                <input type="radio" name="usuarioVisitasPaginaCheck" value="todosVisitasP" id="usuarioVisitasPaginaCheck1" onclick="checkeado(this.form)"> Todos</br></br>
                <input type="radio" name="usuarioVisitasPaginaCheck" value="porNombreVisitasP" id="usuarioVisitasPaginaCheck2" onclick="checkeado(this.form)"> Por nombre</br>
                {{ FormSeg.usuario }} 
                </br></br>
            </div>
            
            <div class="col border border-primary rounded">
                </br>
                <label for="productos" class="p-2">Fecha ingreso:</label>
                <input type="checkbox" class="fechaVisitasP" name="fechaVisitasP" id="fechaVisitasP"/></br>

                <label for="productos" class="p-2">Pagina visitada:</label>
                <input type="checkbox" class="paginaVisitada" name="paginaVisitada" id="paginaVisitada"/></br>
            </div>
  
        </div>
    
    </div>
    <div class="container p-3">
        <div class="row">
            <div class="col-md-2">
            </div>

            <div class="col-md-4 text-center border border-dark rounded">
                <br>
                <label for="">Exportar a documento tipo:</label></br></br>
                <input type="radio" name="informeCheck" value="informeExcel" id="informeCheck1" onclick="checkeado(this.form)"> Excel</br></br>
                <input type="radio" name="informeCheck" value="informeWord" id="informeCheck2" onclick="checkeado(this.form)"> Word</br></br>
                <input type="radio" name="informeCheck" value="informePdf" id="informeCheck3" onclick="checkeado(this.form)"> PDF</br><br>
            </div>

            <div class="col-md-4 text-center border border-dark rounded">
                <br>
                <label for="">Para descargar el informe debe seleccionar un formato de documento, para obtener una vista previa del informe solo se puede en formato PDF:</label></br></br>
                <button type="submit" name="vistaPrevia" value="vistaPrevia" id="vistaPrevia" class="btn btn-primary">Vista previa</button><br><br>
                <button type="submit" name="descargarInforme" value="descargarInforme" id="descargarInforme" class="btn btn-primary">Descargar</button><br><br>
            </div>

            <div class="col-md-2">
            </div>
        </div>
    </div>

</form>

<script language="JavaScript">
   
    document.getElementById("fechaFinalF").disabled=true;
    document.getElementById("montoF").disabled=true;
    document.getElementById("fechaF").disabled=true;
    document.getElementById("estadoF").disabled=true;
    document.getElementById("estadoFiadoCheck1").disabled=true;
    document.getElementById("estadoFiadoCheck2").disabled=true;
    document.getElementById("estadoFiadoCheck3").disabled=true;
    document.getElementById("detallePagosF").disabled=true;

    document.getElementById("montoAbonadoF").disabled=true;
    document.getElementById("fechaAbonoF").disabled=true;
    document.getElementById("clienteFiado").disabled=true;

    document.getElementById("usuarioPaginaVisitada").disabled=true;
    document.getElementById("usuarioVisitasPaginaCheck1").disabled=true;
    document.getElementById("usuarioVisitasPaginaCheck2").disabled=true;
    document.getElementById("id_visitas_pagina").disabled=true;
    document.getElementById("fechaVisitasP").disabled=true;
    document.getElementById("paginaVisitada").disabled=true;
    
    document.getElementById("descargarInforme").disabled=true;
    document.getElementById("vistaPrevia").disabled=true;

    document.getElementById("informeCheck1").disabled=true;
    document.getElementById("informeCheck2").disabled=true;
    document.getElementById("informeCheck3").disabled=true;
    
    function checkeado(form)
    {
        
        //fiados
        if (form.fiados.checked == true){
            
            form.fechaFinalF.disabled = false;
            form.montoF.disabled = false;
            form.fechaF.disabled = false;
            form.estadoF.disabled = false;
            form.detallePagosF.disabled = false;
            form.clienteFiado.disabled = false;
            form.informeCheck1.disabled = false;
            form.informeCheck2.disabled = false;
            form.informeCheck3.disabled = false;
            
        }

        if (form.fiados.checked == false || form.fiados.disabled == true){
            form.fechaFinalF.disabled = true;
            form.montoF.disabled = true;
            form.fechaF.disabled = true;
            form.estadoF.disabled = true;
            form.detallePagosF.disabled = true;
            form.clienteFiado.disabled = true;
            form.informeCheck1.disabled = true;
            form.informeCheck2.disabled = true;
            form.informeCheck3.disabled = true;
        }

        if (form.estadoF.checked == true){
            
            form.estadoFiadoCheck1.disabled = false;
            form.estadoFiadoCheck2.disabled = false;
            form.estadoFiadoCheck3.disabled = false;
        }

        if (form.estadoF.checked == false || form.estadoF.disabled == true){
            form.estadoFiadoCheck1.disabled = true;
            form.estadoFiadoCheck2.disabled = true;
            form.estadoFiadoCheck3.disabled = true;
        }

        if (form.detallePagosF.checked == true){
            
            form.montoAbonadoF.disabled = false;
            form.fechaAbonoF.disabled = false;
            
        }

        if (form.detallePagosF.checked == false || form.detallePagosF.disabled == true){

            form.montoAbonadoF.disabled = true;
            form.fechaAbonoF.disabled = true;
            
        }

        //visitas
        if (form.visitas.checked == true){
            
            form.usuarioPaginaVisitada.disabled = false;
            form.fechaVisitasP.disabled = false;
            form.paginaVisitada.disabled = false;
        }

        if (form.visitas.checked == false || form.visitas.disabled == true){
            form.usuarioPaginaVisitada.disabled = true;
            form.fechaVisitasP.disabled = true;
            form.paginaVisitada.disabled = true;
        }
        //
        if (form.usuarioPaginaVisitada.checked == true){
            
            form.usuarioVisitasPaginaCheck1.disabled = false;
            form.usuarioVisitasPaginaCheck2.disabled = false;
            
        }

        if (form.usuarioPaginaVisitada.checked == false || form.usuarioPaginaVisitada.disabled == true){
            form.usuarioVisitasPaginaCheck1.disabled = true;
            form.usuarioVisitasPaginaCheck2.disabled = true;
            
        }

        if (form.usuarioVisitasPaginaCheck2.checked == true){
            form.id_visitas_pagina.disabled = false;
        }

        if (form.usuarioVisitasPaginaCheck1.checked == true){
            form.id_visitas_pagina.disabled = true;
        }


        //informes

        if (form.informeCheck3.checked == true ){
            form.descargarInforme.disabled = false;
            form.vistaPrevia.disabled = false;
        }

        if (form.informeCheck1.checked == true || form.informeCheck2.checked == true){
            form.descargarInforme.disabled = false;
        }

        if (form.informeCheck1.checked == true || form.informeCheck2.checked == true){
            form.vistaPrevia.disabled = true;
        }
    }
    
</script>
<!-- <script src="{% static 'js/informe.js' %}"></script> -->
{% endblock %}