{% extends 'layout.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/informes.css' %}">
<h1 class="text-center p-3">Crear Informe de boletas</h1>
<form method="post" action="" class="">
    {% csrf_token %}

    <!-- boletas -->
    <div class="container border border-primary rounded mt-3">
        <label for="productos" class="p-2">Boletas:</label>
        <input type="checkbox" class="boletas" name="boletas" id="boletas" onclick="checkeado(this.form)"/></br>
           
        <div class="row row-cols-5">
            <div class="col border border-primary rounded">
                </br>
                <label for="productos" class="p-2">Fecha:</label>
                <input type="checkbox" class="fecha" name="fecha" id="fecha"/></br>

                <label for="productos" class="p-2">Total:</label>
                <input type="checkbox" class="total" name="total" id="total"/></br>
            </div>

            <div class="col border border-primary rounded">
                <label for="productos" class="p-2">Usuario:</label>
                <input type="checkbox" class="usuarioBoleta" name="usuarioB" id="usuarioB" onclick="checkeado(this.form)"/></br></br>
                <input type="radio" name="usuarioBoletaCheck" value="todosB" id="usuarioBoletaCheck1" checked onclick="checkeado(this.form)"> Todos</br></br>
                <input type="radio" name="usuarioBoletaCheck" value="porNombreB" id="usuarioBoletaCheck2" onclick="checkeado(this.form)"> Por nombre</br>
                {{ formU.usuario }}
            </div>

            <div class="col border border-primary rounded">
                <label for="productos" class="p-2">Cliente fiado:</label>
                <input type="checkbox" class="clienteBoleta" name="clienteB" id="clienteB" onclick="checkeado(this.form)"/></br></br>
                <input type="radio" name="clienteBoletaCheck" value="todosB" id="clienteBoletaCheck1" checked onclick="checkeado(this.form)"> Todos</br></br>
                <input type="radio" name="clienteBoletaCheck" value="porNombreB" id="clienteBoletaCheck2" onclick="checkeado(this.form)"> Por nombre</br>
                {{ formC.cliente }}
            </div>

            <div class="col border border-primary rounded">
                <label for="productos" class="p-2">Estado:</label>
                <input type="checkbox" class="estadoBoleta" name="estadoB" id="estadoB" onclick="checkeado(this.form)"/></br>
                <input type="radio" name="estadoBoletaCheck" value="todosB" id="estadoBoletaCheck1" checked onclick="checkeado(this.form)"> Todos</br></br>
                <input type="radio" name="estadoBoletaCheck" value="activasB" id="estadoBoletaCheck2" onclick="checkeado(this.form)"> Activas</br></br>
                <input type="radio" name="estadoBoletaCheck" value="anuladasB" id="estadoBoletaCheck3" onclick="checkeado(this.form)"> Anuladas</br></br>
            </div>

            <div class="col border border-primary rounded">
                <label for="productos" class="p-2">Detalle de boleta:</label>
                <input type="checkbox" class="detalleBoleta" name="detalleBoleta" id="detalleBoleta" onclick="checkeado(this.form)"/></br>
                <label for="productos" class="p-2">Producto:</label>
                <input type="checkbox" class="productoDetalle" name="productoDetalle" id="productoDetalle" onclick="checkeado(this.form)"/></br>
                <label for="productos" class="p-2">Cantidad:</label>
                <input type="checkbox" class="cantidadDetalle" name="cantidadDetalle" id="cantidadDetalle" onclick="checkeado(this.form)"/></br>
                <label for="productos" class="p-2">Precio:</label>
                <input type="checkbox" class="precioDetalle" name="precioDetalle" id="precioDetalle" onclick="checkeado(this.form)"/></br>
            </div>
            
        </div>
    </div>

    <!-- seguimiento pagina -->
    <div class="container border border-primary rounded mt-3">
        <label for="productos" class="p-2">Visitas a paginas:</label>
        <input type="checkbox" class="visitas" name="visitas" id="visitas" onclick="checkeado(this.form)"/></br>
        
        <div class="row row-cols-2">

            <div class="col border border-primary rounded">
                <label for="productos" class="p-2">Usuario:</label>
                <input type="checkbox" class="usuarioPaginaVisitada" name="usuarioPaginaVisitada" id="usuarioPaginaVisitada" onclick="checkeado(this.form)"/></br></br>
                <input type="radio" name="usuarioVisitasPaginaCheck" value="todosVisitasP" id="usuarioVisitasPaginaCheck1" checked onclick="checkeado(this.form)"> Todos</br></br>
                <input type="radio" name="usuarioVisitasPaginaCheck" value="porNombreVisitasP" id="usuarioVisitasPaginaCheck2" onclick="checkeado(this.form)"> Por nombre</br>
                {{ FormSeg.usuario }} 
                </br></br>
            </div>
            
            <div class="col border border-primary rounded">
                </br>
                <label for="productos" class="p-2">Fecha ingreso:</label>
                <input type="checkbox" class="fechaVisitasP" name="fechaVisitasP" id="fechaVisitasP"/></br>

                <label for="productos" class="p-2">Pagina visitada:</label>
                <input type="checkbox" class="paginaVisitada" name="paginaVisitada" id="paginaVisitada"/></br>
            </div>
  
        </div>
    
    </div>
    <div class="container p-3">
        <div class="row">
            <div class="col-md-2">
            </div>

            <div class="col-md-4 text-center border border-dark rounded">
                <br>
                <label for="">Exportar a documento tipo:</label></br></br>
                <input type="radio" name="informeCheck" value="informeExcel" id="informeCheck1" onclick="checkeado(this.form)"> Excel</br></br>
                <input type="radio" name="informeCheck" value="informeWord" id="informeCheck2" onclick="checkeado(this.form)"> Word</br></br>
                <input type="radio" name="informeCheck" value="informePdf" id="informeCheck3" onclick="checkeado(this.form)"> PDF</br><br>
            </div>

            <div class="col-md-4 text-center border border-dark rounded">
                <br>
                <label for="">Para descargar el informe debe seleccionar un formato de documento, para obtener una vista previa del informe solo se puede en formato PDF:</label></br></br>
                <button type="submit" name="vistaPrevia" value="vistaPrevia" id="vistaPrevia" class="btn btn-primary">Vista previa</button><br><br>
                <button type="submit" name="descargarInforme" value="descargarInforme" id="descargarInforme" class="btn btn-primary">Descargar</button><br><br>
            </div>

            <div class="col-md-2">
            </div>
        </div>
    </div>

</form>

<script language="JavaScript">

    document.getElementById("fecha").disabled=true;
    document.getElementById("total").disabled=true;
    document.getElementById("usuarioB").disabled=true;
    document.getElementById("clienteB").disabled=true;
    document.getElementById("estadoB").disabled=true;

    document.getElementById("usuarioBoletaCheck1").disabled=true;
    document.getElementById("usuarioBoletaCheck2").disabled=true;
    
    document.getElementById("clienteBoletaCheck1").disabled=true;
    document.getElementById("clienteBoletaCheck2").disabled=true;
    
    document.getElementById("estadoBoletaCheck1").disabled=true;
    document.getElementById("estadoBoletaCheck2").disabled=true;
    document.getElementById("estadoBoletaCheck3").disabled=true;

    document.getElementById("id_usuario").disabled=true;
    document.getElementById("id_cliente").disabled=true;

    document.getElementById("detalleBoleta").disabled=true;
    document.getElementById("productoDetalle").disabled=true;
    document.getElementById("cantidadDetalle").disabled=true;
    document.getElementById("precioDetalle").disabled=true;

    

    document.getElementById("usuarioPaginaVisitada").disabled=true;
    document.getElementById("usuarioVisitasPaginaCheck1").disabled=true;
    document.getElementById("usuarioVisitasPaginaCheck2").disabled=true;
    document.getElementById("id_visitas_pagina").disabled=true;
    document.getElementById("fechaVisitasP").disabled=true;
    document.getElementById("paginaVisitada").disabled=true;
    
    document.getElementById("descargarInforme").disabled=true;
    document.getElementById("vistaPrevia").disabled=true;
    
    function checkeado(form)
    {
        
        // boletas
        if (form.boletas.checked == true)
        {
            form.fecha.disabled = false;
            form.total.disabled = false;
            form.usuarioB.disabled = false;
            form.clienteB.disabled = false;
            form.estadoB.disabled = false;
            form.detalleBoleta.disabled = false;
        }

        if (form.boletas.checked == false)
        {
            form.fecha.disabled = true;
            form.total.disabled = true;
            form.usuarioB.disabled = true;
            form.clienteB.disabled = true;
            form.estadoB.disabled = true;
            form.detalleBoleta.disabled = true;

            form.usuarioBoletaCheck1.disabled = true;
            form.usuarioBoletaCheck2.disabled = true;
            form.clienteBoletaCheck1.disabled = true;
            form.clienteBoletaCheck2.disabled = true;
            form.estadoBoletaCheck1.disabled = true;
            form.estadoBoletaCheck2.disabled = true;
            form.estadoBoletaCheck3.disabled = true;
        }

        if (form.usuarioB.checked == true){
            
            form.usuarioBoletaCheck1.disabled = false;
            form.usuarioBoletaCheck2.disabled = false;
        }

        if (form.usuarioB.checked == false || form.usuarioB.disabled == true){
            form.usuarioBoletaCheck1.disabled = true;
            form.usuarioBoletaCheck2.disabled = true;
        }

        if (form.usuarioBoletaCheck2.checked == true){
            form.id_usuario.disabled = false;
        }

        if (form.usuarioBoletaCheck1.checked == true){
            form.id_usuario.disabled = true;
        }

        if (form.clienteB.checked == true){
            
            form.clienteBoletaCheck1.disabled = false;
            form.clienteBoletaCheck2.disabled = false;
        }

        if (form.clienteB.checked == false || form.clienteB.disabled == true){
            form.clienteBoletaCheck1.disabled = true;
            form.clienteBoletaCheck2.disabled = true;
        }

        if (form.clienteBoletaCheck2.checked == true){
            form.id_cliente.disabled = false;
        }

        if (form.clienteBoletaCheck1.checked == true){
            form.id_cliente.disabled = true;
        }

        if (form.estadoB.checked == true){
            
            form.estadoBoletaCheck1.disabled = false;
            form.estadoBoletaCheck2.disabled = false;
            form.estadoBoletaCheck3.disabled = false;
        }

        if (form.estadoB.checked == false || form.estadoB.disabled == true){
            form.estadoBoletaCheck1.disabled = true;
            form.estadoBoletaCheck2.disabled = true;
            form.estadoBoletaCheck3.disabled = true;
        }

        //detalle
        if (form.detalleBoleta.checked == true){
            
            form.productoDetalle.disabled = false;
            form.cantidadDetalle.disabled = false;
            form.precioDetalle.disabled = false;
            
        }

        if (form.detalleBoleta.checked == false || form.detalleBoleta.disabled == true){
            form.productoDetalle.disabled = true;
            form.cantidadDetalle.disabled = true;
            form.precioDetalle.disabled = true;
        }
        
        //visitas
        if (form.visitas.checked == true){
            
            form.usuarioPaginaVisitada.disabled = false;
            form.fechaVisitasP.disabled = false;
            form.paginaVisitada.disabled = false;
        }

        if (form.visitas.checked == false || form.visitas.disabled == true){
            form.usuarioPaginaVisitada.disabled = true;
            form.fechaVisitasP.disabled = true;
            form.paginaVisitada.disabled = true;
        }
        //
        if (form.usuarioPaginaVisitada.checked == true){
            
            form.usuarioVisitasPaginaCheck1.disabled = false;
            form.usuarioVisitasPaginaCheck2.disabled = false;
            
        }

        if (form.usuarioPaginaVisitada.checked == false || form.usuarioPaginaVisitada.disabled == true){
            form.usuarioVisitasPaginaCheck1.disabled = true;
            form.usuarioVisitasPaginaCheck2.disabled = true;
            
        }

        if (form.usuarioVisitasPaginaCheck2.checked == true){
            form.id_visitas_pagina.disabled = false;
        }

        if (form.usuarioVisitasPaginaCheck1.checked == true){
            form.id_visitas_pagina.disabled = true;
        }


        //informes

        if (form.informeCheck3.checked == true ){
            form.descargarInforme.disabled = false;
            form.vistaPrevia.disabled = false;
        }

        if (form.informeCheck1.checked == true || form.informeCheck2.checked == true){
            form.descargarInforme.disabled = false;
        }

        if (form.informeCheck1.checked == true || form.informeCheck2.checked == true){
            form.vistaPrevia.disabled = true;
        }
    }
    
</script>
<!-- <script src="{% static 'js/informe.js' %}"></script> -->
{% endblock %}