{% extends 'layout.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/informes.css' %}">
<h1 class="text-center p-3">Crear Informe de clientes</h1>
<form method="post" action="" class="">
    {% csrf_token %}

    <!-- clientes -->
    <div class="container border border-primary rounded mt-3">
        <label for="productos" class="p-2">Clientes:</label>
        <input type="checkbox" class="clientes" name="clientes" id="clientes" onclick="checkeado(this.form)"/></br>
        
        <div class="row row-cols-3">
            <div class="col border border-primary rounded">
                </br>
                <label for="productos" class="p-2">Run:</label>
                <input type="checkbox" class="runC" name="runC" id="runC"/></br>

                <label for="productos" class="p-2">Telefono:</label>
                <input type="checkbox" class="telefonoC" name="telefonoC" id="telefonoC"/></br>

                <label for="productos" class="p-2">Correo:</label>
                <input type="checkbox" class="correoC" name="correoC" id="correoC"/></br>

                <label for="productos" class="p-2">Direccion:</label>
                <input type="checkbox" class="direccionC" name="direccionC" id="direccionC"/></br></br>
            </div>

            <div class="col border border-primary rounded">
                <label for="productos" class="p-2">Nombre:</label>
                <input type="checkbox" class="nombreC" name="nombreC" id="nombreC" onclick="checkeado(this.form)"/></br></br>
                <input type="radio" name="nombreClienteCheck" value="todosC" id="nombreClienteCheck1" checked onclick="checkeado(this.form)"> Todos</br></br>
                <input type="radio" name="nombreClienteCheck" value="porNombreC" id="nombreClienteCheck2" onclick="checkeado(this.form)"> Por nombre</br>
                {{ formCliente.cliente }} 
            </div>
            
            <div class="col border border-primary rounded">
                <label for="productos" class="p-2">Estado cliente:</label>
                <input type="checkbox" class="estadoIC" name="estadoIC" id="estadoIC" onclick="checkeado(this.form)"/></br></br>
                <input type="radio" name="estadoIClienteCheck" value="todosIC" id="estadoIClienteCheck1" checked onclick="checkeado(this.form)"> Todos</br></br>
                <input type="radio" name="estadoIClienteCheck" value="activoIC" id="estadoIClienteCheck2" onclick="checkeado(this.form)"> Activos</br></br>
                <input type="radio" name="estadoIClienteCheck" value="bloqueadoIC" id="estadoIClienteCheck3" onclick="checkeado(this.form)"> Bloqueados</br></br>
            </div>
            
        </div>
    
    </div>

    <!-- seguimiento pagina -->
    <div class="container border border-primary rounded mt-3">
        <label for="productos" class="p-2">Visitas a paginas:</label>
        <input type="checkbox" class="visitas" name="visitas" id="visitas" onclick="checkeado(this.form)"/></br>
        
        <div class="row row-cols-2">

            <div class="col border border-primary rounded">
                <label for="productos" class="p-2">Usuario:</label>
                <input type="checkbox" class="usuarioPaginaVisitada" name="usuarioPaginaVisitada" id="usuarioPaginaVisitada" onclick="checkeado(this.form)"/></br></br>
                <input type="radio" name="usuarioVisitasPaginaCheck" value="todosVisitasP" id="usuarioVisitasPaginaCheck1" checked onclick="checkeado(this.form)"> Todos</br></br>
                <input type="radio" name="usuarioVisitasPaginaCheck" value="porNombreVisitasP" id="usuarioVisitasPaginaCheck2" onclick="checkeado(this.form)"> Por nombre</br>
                {{ FormSeg.usuario }} 
                </br></br>
            </div>
            
            <div class="col border border-primary rounded">
                </br>
                <label for="productos" class="p-2">Fecha ingreso:</label>
                <input type="checkbox" class="fechaVisitasP" name="fechaVisitasP" id="fechaVisitasP"/></br>

                <label for="productos" class="p-2">Pagina visitada:</label>
                <input type="checkbox" class="paginaVisitada" name="paginaVisitada" id="paginaVisitada"/></br>
            </div>
  
        </div>
    
    </div>
    <div class="container p-3">
        <div class="row">
            <div class="col-md-2">
            </div>

            <div class="col-md-4 text-center border border-dark rounded">
                <br>
                <label for="">Exportar a documento tipo:</label></br></br>
                <input type="radio" name="informeCheck" value="informeExcel" id="informeCheck1" onclick="checkeado(this.form)"> Excel</br></br>
                <input type="radio" name="informeCheck" value="informeWord" id="informeCheck2" onclick="checkeado(this.form)"> Word</br></br>
                <input type="radio" name="informeCheck" value="informePdf" id="informeCheck3" onclick="checkeado(this.form)"> PDF</br><br>
            </div>

            <div class="col-md-4 text-center border border-dark rounded">
                <br>
                <label for="">Para descargar el informe debe seleccionar un formato de documento, para obtener una vista previa del informe solo se puede en formato PDF:</label></br></br>
                <button type="submit" name="vistaPrevia" value="vistaPrevia" id="vistaPrevia" class="btn btn-primary">Vista previa</button><br><br>
                <button type="submit" name="descargarInforme" value="descargarInforme" id="descargarInforme" class="btn btn-primary">Descargar</button><br><br>
            </div>

            <div class="col-md-2">
            </div>
        </div>
    </div>

</form>
<script>
    function manual(){
        Swal.fire({
            title: 'Manual',
            html: `En esta página podremos crear informes de los datos pertenecientes 
            a los clientes.<br>
            También se podrán generar informes sobre las visitas que se realizaron a 
            la página.<br>
            Estos informes se podrán exportar en tres tipos de formato, los cuales son:
            <br><br> 
            • Microsoft Excel<br>
            • Microsoft Word <br>
            • PDF
            <br><br>
            Para poder crear un informe deberemos seleccionar los datos que queremos 
            que lo integren.<br>
            Primero debemos hacer clic en un pequeño recuadro que encontraremos justo 
            de lado del texto de lo que queramos incluir, en este caso incluiremos 
            “Clientes”.<br>
            En caso de querer agregar las visitas, de igual forma deberemos seleccionar 
            el pequeño recuadro que esta junto al texto “Visitas a paginas”.<br>
            Al hacer clic sobre esos recuadros se nos marcarán.<br>
            Al marcar cualquiera de los apartados que deseemos, se nos habilitaran más 
            casillas las cuales podremos marcar, pudiendo personalizar los datos que 
            queremos extraer del documento a nuestro gusto según lo que se requiera 
            analizar. 
            <br><br>
            De igual forma se nos habilitaran los selectores, que se encuentran en 
            cuadros independientes, dentro de estos selectores siempre estará marcada 
            por defecto la opción “Todos”.<br>
            Estos selectores tienen la funcionalidad de hacer un filtrado de datos.<br>
            Por ejemplo, si se hace clic en el selector de estado de cliente, con el 
            parámetro “Activos” .<br>
            Dentro del informe se nos incluirán los datos sólo de los clientes que se 
            encuentren Activos.
            <br><br>
            Por otra parte, tenemos los selectores con filtros por nombre, si hacemos 
            clic en el selector que dice “Por nombre” este nos habilitara una lista 
            desplegable que contiene “------”.
            <br><br>
            Esto también nos servirá para hacer un filtrado de datos.
            Por ejemplo, si hacemos clic en el selector “Por nombre” del nombre del 
            cliente, la lista desplegable se habilitará y podremos hacer clic sobre 
            ella, esto nos mostrara un listado con los nombres de los clientes en sistema.<br>
            Luego haremos clic en el nombre que necesitemos y quedara escrito dentro 
            del campo. Esto también aplica para las visitas a páginas.
            <br><br>
            Una vez seleccionados todos los datos que necesitemos, podemos seleccionar 
            el formato de documento que necesitemos, uno de ellos es el tipo Excel, 
            solo deberemos marcar la casilla conjunta al nombre del tipo de documento 
            que necesitemos, esto ocasionará que se nos habilite de forma automática 
            el botón “Descargar” (Para el tipo de formato Excel, no se encuentra 
            disponible la vista previa del documento, es por esto que no se encuentra 
            habilitada)<br>
            Luego procederemos a hacer clic al botón “Descargar”, esto nos descargara 
            el documento en formato Excel dentro de la ruta especificada al momento 
            de la descarga, esto nos permitirá conservar la copia y poder abrirla con 
            la herramienta que estimemos conveniente, en este caso, Microsoft Excel.
            <br><br>
            El otro formato de documento disponible es del tipo Word, Para esto, al 
            igual que con Excel, solo deberemos marcar la casilla conjunta, esto 
            ocasionará que se nos habilite de forma automática el botón “Descargar” 
            (Para este tipo de formato, tampoco se encuentra habilitada la vista previa)<br>
            Luego procederemos a hacer clic al botón “Descargar”, esto nos descargara 
            el documento en formato Word dentro de la ruta especificada al momento de 
            la descarga, esto nos permitirá conservar la copia y poder abrirla con 
            la herramienta que estimemos conveniente, en este caso, Microsoft Word.
            <br><br>
            El ultimo formato de documento que tenemos es del tipo PDF, para esto, 
            al igual que con los otros dos tipos de archivos, deberemos marcar 
            nuevamente la casilla conjunta con el nombre correspondiente a dicho 
            formato, esto ocasionará que se nos habilite de forma automática el 
            botón “Descargar” y “Vista previa”<br>
            Cuando hacemos clic en el botón de vista previa, la página en la que 
            estamos situados se cambiara, mostrándonos desde la misma página una 
            vista previa del documento para acceder a él sin la necesidad de descargarlo. 
            <br><br>
            Si deseamos descargar una copia de este documento, solo debemos presionar 
            el botón de “Descargar”.<br>
            Esto nos descargara el documento en formato PDF, pudiendo acceder a el 
            esta vez de forma local, permitiendo abrirlo con la herramienta que 
            estime conveniente para la lectura de este tipo de archivos
            `,
            showConfirmButton: true,
            confirmButtonText: 'Continuar',
        })
    }
</script>
<script language="JavaScript">
    
    document.getElementById("runC").disabled=true;
    document.getElementById("telefonoC").disabled=true;
    document.getElementById("correoC").disabled=true;
    document.getElementById("direccionC").disabled=true;
    document.getElementById("nombreC").disabled=true;
    document.getElementById("nombreClienteCheck1").disabled=true;
    document.getElementById("nombreClienteCheck2").disabled=true;

    document.getElementById("estadoIC").disabled=true;
    document.getElementById("estadoIClienteCheck1").disabled=true;
    document.getElementById("estadoIClienteCheck2").disabled=true;
    document.getElementById("estadoIClienteCheck3").disabled=true;
    document.getElementById("id_cliente_informe").disabled=true;
    

    document.getElementById("usuarioPaginaVisitada").disabled=true;
    document.getElementById("usuarioVisitasPaginaCheck1").disabled=true;
    document.getElementById("usuarioVisitasPaginaCheck2").disabled=true;
    document.getElementById("id_visitas_pagina").disabled=true;
    document.getElementById("fechaVisitasP").disabled=true;
    document.getElementById("paginaVisitada").disabled=true;
    
    document.getElementById("descargarInforme").disabled=true;
    document.getElementById("vistaPrevia").disabled=true;

    document.getElementById("informeCheck1").disabled=true;
    document.getElementById("informeCheck2").disabled=true;
    document.getElementById("informeCheck3").disabled=true;
    
    function checkeado(form)
    {
        //cliente
        if (form.clientes.checked == true){
            
            form.runC.disabled = false;
            form.telefonoC.disabled = false;
            form.correoC.disabled = false;
            form.direccionC.disabled = false;
            form.nombreC.disabled = false;
            form.estadoIC.disabled = false;
            form.informeCheck1.disabled = false;
            form.informeCheck2.disabled = false;
            form.informeCheck3.disabled = false;
            
        }

        if (form.clientes.checked == false || form.clientes.disabled == true){
            form.runC.disabled = true;
            form.telefonoC.disabled = true;
            form.correoC.disabled = true;
            form.direccionC.disabled = true;
            form.nombreC.disabled = true;
            form.estadoIC.disabled = true;
            form.informeCheck1.disabled = true;
            form.informeCheck2.disabled = true;
            form.informeCheck3.disabled = true;
        }

        if (form.nombreC.checked == true){
            
            form.nombreClienteCheck1.disabled = false;
            form.nombreClienteCheck2.disabled = false;
        }

        if (form.nombreC.checked == false || form.nombreC.disabled == true){
            form.nombreClienteCheck1.disabled = true;
            form.nombreClienteCheck2.disabled = true;
        }

        if (form.nombreClienteCheck2.checked == true){
            form.id_cliente_informe.disabled = false;
        }

        if (form.nombreClienteCheck1.checked == true){
            form.id_cliente_informe.disabled = true;
        }

        if (form.estadoIC.checked == true){
            
            form.estadoIClienteCheck1.disabled = false;
            form.estadoIClienteCheck2.disabled = false;
            form.estadoIClienteCheck3.disabled = false;
        }

        if (form.estadoIC.checked == false || form.estadoIC.disabled == true){
            form.estadoIClienteCheck1.disabled = true;
            form.estadoIClienteCheck2.disabled = true;
            form.estadoIClienteCheck3.disabled = true;
        }

        //visitas
        if (form.visitas.checked == true){
            
            form.usuarioPaginaVisitada.disabled = false;
            form.fechaVisitasP.disabled = false;
            form.paginaVisitada.disabled = false;
        }

        if (form.visitas.checked == false || form.visitas.disabled == true){
            form.usuarioPaginaVisitada.disabled = true;
            form.fechaVisitasP.disabled = true;
            form.paginaVisitada.disabled = true;
        }
        //
        if (form.usuarioPaginaVisitada.checked == true){
            
            form.usuarioVisitasPaginaCheck1.disabled = false;
            form.usuarioVisitasPaginaCheck2.disabled = false;
            
        }

        if (form.usuarioPaginaVisitada.checked == false || form.usuarioPaginaVisitada.disabled == true){
            form.usuarioVisitasPaginaCheck1.disabled = true;
            form.usuarioVisitasPaginaCheck2.disabled = true;
            
        }

        if (form.usuarioVisitasPaginaCheck2.checked == true){
            form.id_visitas_pagina.disabled = false;
        }

        if (form.usuarioVisitasPaginaCheck1.checked == true){
            form.id_visitas_pagina.disabled = true;
        }


        //informes

        if (form.informeCheck3.checked == true ){
            form.descargarInforme.disabled = false;
            form.vistaPrevia.disabled = false;
        }

        if (form.informeCheck1.checked == true || form.informeCheck2.checked == true){
            form.descargarInforme.disabled = false;
        }

        if (form.informeCheck1.checked == true || form.informeCheck2.checked == true){
            form.vistaPrevia.disabled = true;
        }
    }
    
</script>
<!-- <script src="{% static 'js/informe.js' %}"></script> -->
{% endblock %}