{% extends 'layout.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/informes.css' %}">
<h1 class="text-center p-3">Crear Informe</h1>
<form method="post" action="" class="">
    {% csrf_token %}
    <div class="container border border-primary rounded">
        <label for="productos" class="p-2">Productos:</label>
        <input type="checkbox" class="productos" name="productos" id="productos" onclick="checkeado(this.form)"/></br>
            
        <div class="row row-cols-5">
            
            <div class="col border border-primary rounded">
                
                <label for="productos" class="p-2">Nombre:</label>
                <input type="checkbox" class="nombre" name="nombre" id="nombre"/></br>

                <label for="productos" class="p-2">Precio:</label>
                <input type="checkbox" class="precio" name="precio" id="precio"/></br>

                <label for="productos" class="p-2">Descripcion:</label>
                <input type="checkbox" class="descripcion" name="descripcion" id="descripcion"/></br>

                <label for="productos" class="p-2">Precio compra:</label>
                <input type="checkbox" class="precioCompra" name="precioCompra" id="precioCompra"/></br>

                <label for="productos" class="p-2">Stock Critico:</label>
                <input type="checkbox" class="stockCritico" name="stockCritico" id="stockCritico"/></br>

                <label for="productos" class="p-2">Fecha vencimiento:</label>
                <input type="checkbox" class="fechaVencimiento" name="fechaVencimiento" id="fechaVencimiento"/></br>

                <label for="productos" class="p-2">Codigo barra:</label>
                <input type="checkbox" class="codigoBarra" name="codigoBarra" id="codigoBarra"/>
            </div>

            <div class="col border border-primary rounded">
                <label for="productos" class="p-2">Stock:</label>
                <input type="checkbox" class="stock" name="stock" id="stock" onclick="checkeado(this.form)"/></br></br>
                <input type="radio" name="stockCheck" value="todos" id="stockCheck1"> Todos</br></br>
                <input type="radio" name="stockCheck" value="conStock" id="stockCheck2"> Con stock</br></br>
                <input type="radio" name="stockCheck" value="sinStock" id="stockCheck3"> Sin stock</br></br>
            </div>

            <div class="col border border-primary rounded">
                <label for="productos" class="p-2">Estado del producto:</label>
                <input type="checkbox" class="estado" name="estado" id="estado" onclick="checkeado(this.form)"/></br></br>
                <input type="radio" name="estadoCheck" value="todos" id="estadoCheck1">Todos</br></br>
                <input type="radio" name="estadoCheck" value="disponible" id="estadoCheck2"> Disponible</br></br>
                <input type="radio" name="estadoCheck" value="noDisponible" id="estadoCheck3"> No disponible</br></br>
            </div>

            <div class="col border border-primary rounded">
                <label for="productos" class="p-2">Familia producto:</label>
                <input type="checkbox" class="familiaProducto" name="familiaProducto" id="familiaProducto" onclick="checkeado(this.form)"/></br></br>
                <input type="radio" name="familiaProductoCheck" value="todosF" id="familiaProductoCheck1" onclick="checkeado(this.form)"> Todos</br></br>
                <input type="radio" name="familiaProductoCheck" value="porNombreF" id="familiaProductoCheck2" onclick="checkeado(this.form)"> Por nombrev
                {{ formP.familia_producto }}
            </div>

            <div class="col border border-primary rounded">
                <label for="productos" class="p-2">Tipo producto:</label>
                <input type="checkbox" class="tipoProducto" name="tipoProducto" id="tipoProducto" onclick="checkeado(this.form)"/></br></br>
                <input type="radio" name="tipoProductoCheck" value="todosT" id="tipoProductoCheck1" onclick="checkeado(this.form)"> Todos</br></br>
                <input type="radio" name="tipoProductoCheck" value="porNombreT" id="tipoProductoCheck2" onclick="checkeado(this.form)"> Por nombre</br></br>
                {{ formT.tipo_producto }}
            </div>
                
        </div>
    </div>

    <!-- boletas -->
    <div class="container border border-primary rounded mt-3">
        <label for="productos" class="p-2">Boletas:</label>
        <input type="checkbox" class="boletas" name="boletas" id="boletas" onclick="checkeado(this.form)"/></br>
           
        <div class="row row-cols-5">
            <div class="col border border-primary rounded">
                </br>
                <label for="productos" class="p-2">Fecha:</label>
                <input type="checkbox" class="fecha" name="fecha" id="fecha"/></br>

                <label for="productos" class="p-2">Total:</label>
                <input type="checkbox" class="total" name="total" id="total"/></br>
            </div>

            <div class="col border border-primary rounded">
                <label for="productos" class="p-2">Usuario:</label>
                <input type="checkbox" class="usuarioBoleta" name="usuarioB" id="usuarioB" onclick="checkeado(this.form)"/></br></br>
                <input type="radio" name="usuarioBoletaCheck" value="todosB" id="usuarioBoletaCheck1" onclick="checkeado(this.form)"> Todos</br></br>
                <input type="radio" name="usuarioBoletaCheck" value="porNombreB" id="usuarioBoletaCheck2" onclick="checkeado(this.form)"> Por nombre</br>
                {{ formU.usuario }}
            </div>

            <div class="col border border-primary rounded">
                <label for="productos" class="p-2">Cliente fiado:</label>
                <input type="checkbox" class="clienteBoleta" name="clienteB" id="clienteB" onclick="checkeado(this.form)"/></br></br>
                <input type="radio" name="clienteBoletaCheck" value="todosB" id="clienteBoletaCheck1" onclick="checkeado(this.form)"> Todos</br></br>
                <input type="radio" name="clienteBoletaCheck" value="porNombreB" id="clienteBoletaCheck2" onclick="checkeado(this.form)"> Por nombre</br>
                {{ formC.cliente }}
            </div>

            <div class="col border border-primary rounded">
                <label for="productos" class="p-2">Estado:</label>
                <input type="checkbox" class="estadoBoleta" name="estadoB" id="estadoB" onclick="checkeado(this.form)"/></br>
                <input type="radio" name="estadoBoletaCheck" value="todosB" id="estadoBoletaCheck1" onclick="checkeado(this.form)"> Todos</br></br>
                <input type="radio" name="estadoBoletaCheck" value="activasB" id="estadoBoletaCheck2" onclick="checkeado(this.form)"> Activas</br></br>
                <input type="radio" name="estadoBoletaCheck" value="anuladasB" id="estadoBoletaCheck3" onclick="checkeado(this.form)"> Anuladas</br></br>
            </div>

            <div class="col border border-primary rounded">
                <label for="productos" class="p-2">Detalle de boleta:</label>
                <input type="checkbox" class="detalleBoleta" name="detalleBoleta" id="detalleBoleta" onclick="checkeado(this.form)"/></br>
                <label for="productos" class="p-2">Producto:</label>
                <input type="checkbox" class="productoDetalle" name="productoDetalle" id="productoDetalle" onclick="checkeado(this.form)"/></br>
                <label for="productos" class="p-2">Cantidad:</label>
                <input type="checkbox" class="cantidadDetalle" name="cantidadDetalle" id="cantidadDetalle" onclick="checkeado(this.form)"/></br>
                <label for="productos" class="p-2">Precio:</label>
                <input type="checkbox" class="precioDetalle" name="precioDetalle" id="precioDetalle" onclick="checkeado(this.form)"/></br>
            </div>
            
        </div>
    </div>

        <!-- clientes -->
    <div class="container border border-primary rounded mt-3">
        <label for="productos" class="p-2">Clientes:</label>
        <input type="checkbox" class="clientes" name="clientes" id="clientes" onclick="checkeado(this.form)"/></br>
        
        <div class="row row-cols-3">
            <div class="col border border-primary rounded">
                </br>
                <label for="productos" class="p-2">Run:</label>
                <input type="checkbox" class="runC" name="runC" id="runC"/></br>

                <label for="productos" class="p-2">Telefono:</label>
                <input type="checkbox" class="telefonoC" name="telefonoC" id="telefonoC"/></br>

                <label for="productos" class="p-2">Correo:</label>
                <input type="checkbox" class="correoC" name="correoC" id="correoC"/></br>

                <label for="productos" class="p-2">Direccion:</label>
                <input type="checkbox" class="direccionC" name="direccionC" id="direccionC"/></br></br>
            </div>

            <div class="col border border-primary rounded">
                <label for="productos" class="p-2">Nombre:</label>
                <input type="checkbox" class="nombreC" name="nombreC" id="nombreC" onclick="checkeado(this.form)"/></br></br>
                <input type="radio" name="nombreClienteCheck" value="todosC" id="nombreClienteCheck1" onclick="checkeado(this.form)"> Todos</br></br>
                <input type="radio" name="nombreClienteCheck" value="porNombreC" id="nombreClienteCheck2" onclick="checkeado(this.form)"> Por nombre</br>
                {{ formCliente.cliente }} 
            </div>
            
            <div class="col border border-primary rounded">
                <label for="productos" class="p-2">Estado cliente:</label>
                <input type="checkbox" class="estadoIC" name="estadoIC" id="estadoIC" onclick="checkeado(this.form)"/></br></br>
                <input type="radio" name="estadoIClienteCheck" value="todosIC" id="estadoIClienteCheck1" onclick="checkeado(this.form)"> Todos</br></br>
                <input type="radio" name="estadoIClienteCheck" value="activoIC" id="estadoIClienteCheck2" onclick="checkeado(this.form)"> Activos</br></br>
                <input type="radio" name="estadoIClienteCheck" value="bloqueadoIC" id="estadoIClienteCheck3" onclick="checkeado(this.form)"> Bloqueados</br></br>
            </div>
            
        </div>
    
    </div>

    <!-- fiados -->
    <div class="container border border-primary rounded mt-3">
        <label for="productos" class="p-2">Fiados:</label>
        <input type="checkbox" class="fiados" name="fiados" id="fiados" onclick="checkeado(this.form)"/></br>
        
        <div class="row row-cols-3">
            <div class="col border border-primary rounded">
                </br>
                <label for="productos" class="p-2">Monto:</label>
                <input type="checkbox" class="montoF" name="montoF" id="montoF"/></br>

                <label for="productos" class="p-2">Fecha creacion:</label>
                <input type="checkbox" class="fechaF" name="fechaF" id="fechaF"/></br>

                <label for="productos" class="p-2">Fecha pago completado:</label>
                <input type="checkbox" class="fechaFinalF" name="fechaFinalF" id="fechaFinalF"/></br>
            </div>
            
            <div class="col border border-primary rounded">
                <label for="productos" class="p-2">Estado fiado:</label>
                <input type="checkbox" class="estadoF" name="estadoF" id="estadoF" onclick="checkeado(this.form)"/></br></br>
                <input type="radio" name="estadoFiadoCheck" value="todosF" id="estadoFiadoCheck1" onclick="checkeado(this.form)"> Todos</br></br>
                <input type="radio" name="estadoFiadoCheck" value="alDia" id="estadoFiadoCheck2" onclick="checkeado(this.form)"> Al dia</br></br>
                <input type="radio" name="estadoFiadoCheck" value="atrasados" id="estadoFiadoCheck3" onclick="checkeado(this.form)"> Atrasados</br></br>
            </div>

            <div class="col border border-primary rounded">
                <label for="productos" class="p-2">Detalle pagos:</label>
                <input type="checkbox" class="detallePagosF" name="detallePagosF" id="detallePagosF" onclick="checkeado(this.form)"/></br></br>
                
                <label for="productos" class="p-2">Monto abonado:</label>
                <input type="checkbox" class="montoAbonadoF" name="montoAbonadoF" id="montoAbonadoF"/></br>

                <label for="productos" class="p-2">Monto Faltante:</label>
                <input type="checkbox" class="montoFaltanteF" name="montoFaltanteF" id="montoFaltanteF"/></br>

                <label for="productos" class="p-2">Fecha abono:</label>
                <input type="checkbox" class="fechaAbonoF" name="fechaAbonoF" id="fechaAbonoF"/></br>

                <label for="productos" class="p-2">Cliente:</label>
                <input type="checkbox" class="clienteFiado" name="clienteFiado" id="clienteFiado"/></br></br>
            </div>
            
            
        </div>
    
    </div>

    <!-- proveedores -->
    <div class="container border border-primary rounded mt-3">
        <label for="productos" class="p-2">Proveedores:</label>
        <input type="checkbox" class="proveedores" name="proveedores" id="proveedores" onclick="checkeado(this.form)"/></br>
        
        <div class="row row-cols-4">
            <div class="col border border-primary rounded">
                </br>
                <label for="productos" class="p-2">Correo:</label>
                <input type="checkbox" class="correoP" name="correoP" id="correoP"/></br>

                <label for="productos" class="p-2">Telefono:</label>
                <input type="checkbox" class="telefonoP" name="telefonoP" id="telefonoP"/></br>

                <label for="productos" class="p-2">Direccion:</label>
                <input type="checkbox" class="direccionP" name="direccionP" id="direccionP"/></br>
            </div>

            <div class="col border border-primary rounded">
                <label for="productos" class="p-2">Estado proveedor:</label>
                <input type="checkbox" class="estadoP" name="estadoP" id="estadoP" onclick="checkeado(this.form)"/></br></br>
                <input type="radio" name="estadoProveedorCheck" value="todosP" id="estadoProveedorCheck1" onclick="checkeado(this.form)"> Todos</br></br>
                <input type="radio" name="estadoProveedorCheck" value="activosP" id="estadoProveedorCheck2" onclick="checkeado(this.form)"> Activos</br></br>
                <input type="radio" name="estadoProveedorCheck" value="bloqueadosP" id="estadoProveedorCheck3" onclick="checkeado(this.form)"> Bloqueados</br></br>
            </div>

            <div class="col border border-primary rounded">
                <label for="productos" class="p-2">Razon social:</label>
                <input type="checkbox" class="razonSocialP" name="razonSocialP" id="razonSocialP" onclick="checkeado(this.form)"/></br></br>
                <input type="radio" name="razonSocialPCheck" value="todosP" id="razonSocialPCheck1" onclick="checkeado(this.form)"> Todos</br></br>
                <input type="radio" name="razonSocialPCheck" value="porRazonScoailP" id="razonSocialPCheck2" onclick="checkeado(this.form)"> Por razon social</br>
                {{ formProveedor.proveedor }} 
            </div>

            <div class="col border border-primary rounded">
                <label for="productos" class="p-2">Categoria proveedor:</label>
                <input type="checkbox" class="categoriaP" name="categoriaP" id="categoriaP" onclick="checkeado(this.form)"/></br></br>
                <input type="radio" name="categoriaProveedorCheck" value="todosP" id="categoriaProveedorCheck1" onclick="checkeado(this.form)"> Todos</br></br>
                <input type="radio" name="categoriaProveedorCheck" value="categoriaP" id="categoriaProveedorCheck2" onclick="checkeado(this.form)"> Por categoria</br>
                {{ formCatProv.categoria_proveedor }} 
            </div>
        </div>
    </div>
    

    <!-- orden pedido -->
    <div class="container border border-primary rounded mt-3">
        <label for="productos" class="p-2">Ordenes de pedidos:</label>
        <input type="checkbox" class="ordenes" name="ordenes" id="ordenes" onclick="checkeado(this.form)"/></br>
        
        <div class="row row-cols-4">
            <div class="col border border-primary rounded">
                </br>
                <label for="productos" class="p-2">Fecha pedido:</label>
                <input type="checkbox" class="fechaOrdenP" name="fechaOrdenP" id="fechaOrdenP"/></br>

                <label for="productos" class="p-2">Fecha llegada:</label>
                <input type="checkbox" class="fechaLlegadaOrdenP" name="fechaLlegadaOrdenP" id="fechaLlegadaOrdenP"/></br>

                <label for="productos" class="p-2">Fecha recepcion:</label>
                <input type="checkbox" class="fechaRecepOrdenP" name="fechaRecepOrdenP" id="fechaRecepOrdenP"/></br>

                <label for="productos" class="p-2">Hora recepcion:</label>
                <input type="checkbox" class="horaRecepOrdenP" name="horaRecepOrdenP" id="horaRecepOrdenP"/></br>

                
            </div>
            
            <div class="col border border-primary rounded">
                <label for="productos" class="p-2">Estado recepcion:</label>
                <input type="checkbox" class="estadoRecepcionO" name="estadoRecepcionO" id="estadoRecepcionO" onclick="checkeado(this.form)"/></br></br>
                <input type="radio" name="estadoOrdenPCheck" value="todosOrdenP" id="estadoOrdenPCheck1" onclick="checkeado(this.form)"> Todos</br></br>
                <input type="radio" name="estadoOrdenPCheck" value="enEsperaOrden" id="estadoOrdenPCheck2" onclick="checkeado(this.form)"> En espera</br></br>
                <input type="radio" name="estadoOrdenPCheck" value="recepcionadoOrden" id="estadoOrdenPCheck3" onclick="checkeado(this.form)"> Recepcionado</br></br>
            </div>

            <div class="col border border-primary rounded">
                <label for="productos" class="p-2">Proveedor orden:</label>
                <input type="checkbox" class="razonSocialOrdenP" name="razonSocialOrdenP" id="razonSocialOrdenP" onclick="checkeado(this.form)"/></br></br>
                <input type="radio" name="razonSocialOrdenPCheck" value="todosOrdenP" id="razonSocialOrdenPCheck1" onclick="checkeado(this.form)"> Todos</br></br>
                <input type="radio" name="razonSocialOrdenPCheck" value="porRazonSocialOrdenP" id="razonSocialOrdenPCheck2" onclick="checkeado(this.form)"> Por razon social</br>
                {{ formProveeOrden.proveedor }} 
            </div>

            <div class="col border border-primary rounded">
                <label for="productos" class="p-2">Detalle orden</label>
                <input type="checkbox" class="detalleOrdenP" name="detalleOrdenP" id="detalleOrdenP" onclick="checkeado(this.form)"/></br></br>
                <label for="productos" class="p-2">Cantidad:</label>
                <input type="checkbox" class="cantidadOrdenP" name="cantidadOrdenP" id="cantidadOrdenP"/></br>
                <label for="productos" class="p-2">Producto:</label>
                <input type="checkbox" class="productoOrdenP" name="productoOrdenP" id="productoOrdenP"/></br>
            </div>
  
        </div>
    
    </div>
    
    <!-- seguimiento pagina -->
    <div class="container border border-primary rounded mt-3">
        <label for="productos" class="p-2">Visitas a paginas:</label>
        <input type="checkbox" class="visitas" name="visitas" id="visitas" onclick="checkeado(this.form)"/></br>
        
        <div class="row row-cols-2">

            <div class="col border border-primary rounded">
                <label for="productos" class="p-2">Usuario:</label>
                <input type="checkbox" class="usuarioPaginaVisitada" name="usuarioPaginaVisitada" id="usuarioPaginaVisitada" onclick="checkeado(this.form)"/></br></br>
                <input type="radio" name="usuarioVisitasPaginaCheck" value="todosVisitasP" id="usuarioVisitasPaginaCheck1" onclick="checkeado(this.form)"> Todos</br></br>
                <input type="radio" name="usuarioVisitasPaginaCheck" value="porNombreVisitasP" id="usuarioVisitasPaginaCheck2" onclick="checkeado(this.form)"> Por nombre</br>
                {{ FormSeg.usuario }} 
                </br></br>
            </div>
            
            <div class="col border border-primary rounded">
                </br>
                <label for="productos" class="p-2">Fecha ingreso:</label>
                <input type="checkbox" class="fechaVisitasP" name="fechaVisitasP" id="fechaVisitasP"/></br>

                <label for="productos" class="p-2">Pagina visitada:</label>
                <input type="checkbox" class="paginaVisitada" name="paginaVisitada" id="paginaVisitada"/></br>
            </div>
  
        </div>
    
    </div>

    <div class="text-center pt-3">
        <button type="submit" id="boton_aceptar" class="btn btn-primary">Aceptar</button>
        <a href="../" type="submit" class="btn btn-primary">Cancelar</a>
    </div>
</form>
<script language="JavaScript">
   
    document.getElementById("precio").disabled=true;
    document.getElementById("descripcion").disabled=true;
    document.getElementById("precioCompra").disabled=true;
    document.getElementById("stockCritico").disabled=true;
    document.getElementById("fechaVencimiento").disabled=true;
    document.getElementById("codigoBarra").disabled=true;
    document.getElementById("stock").disabled=true;
    document.getElementById("nombre").disabled=true;
    
    document.getElementById("estado").disabled=true;
    
    document.getElementById("familiaProducto").disabled=true;
    document.getElementById("id_familia_producto").disabled=true;

    document.getElementById("familiaProductoCheck1").disabled=true;
    document.getElementById("familiaProductoCheck2").disabled=true;

    document.getElementById("stockCheck1").disabled=true;
    document.getElementById("stockCheck2").disabled=true;
    document.getElementById("stockCheck3").disabled=true;

    document.getElementById("estadoCheck1").disabled=true;
    document.getElementById("estadoCheck2").disabled=true;
    document.getElementById("estadoCheck3").disabled=true;

    document.getElementById("tipoProducto").disabled=true;
    document.getElementById("tipoProductoCheck1").disabled=true;
    document.getElementById("tipoProductoCheck2").disabled=true;
    document.getElementById("id_tipo_producto").disabled=true;

    document.getElementById("fecha").disabled=true;
    document.getElementById("total").disabled=true;
    document.getElementById("usuarioB").disabled=true;
    document.getElementById("clienteB").disabled=true;
    document.getElementById("estadoB").disabled=true;

    document.getElementById("usuarioBoletaCheck1").disabled=true;
    document.getElementById("usuarioBoletaCheck2").disabled=true;
    
    document.getElementById("clienteBoletaCheck1").disabled=true;
    document.getElementById("clienteBoletaCheck2").disabled=true;
    
    document.getElementById("estadoBoletaCheck1").disabled=true;
    document.getElementById("estadoBoletaCheck2").disabled=true;
    document.getElementById("estadoBoletaCheck3").disabled=true;

    document.getElementById("id_usuario").disabled=true;
    document.getElementById("id_cliente").disabled=true;

    document.getElementById("detalleBoleta").disabled=true;
    document.getElementById("productoDetalle").disabled=true;
    document.getElementById("cantidadDetalle").disabled=true;
    document.getElementById("precioDetalle").disabled=true;

    
    document.getElementById("runC").disabled=true;
    document.getElementById("telefonoC").disabled=true;
    document.getElementById("correoC").disabled=true;
    document.getElementById("direccionC").disabled=true;
    document.getElementById("nombreC").disabled=true;
    document.getElementById("nombreClienteCheck1").disabled=true;
    document.getElementById("nombreClienteCheck2").disabled=true;

    document.getElementById("estadoIC").disabled=true;
    document.getElementById("estadoIClienteCheck1").disabled=true;
    document.getElementById("estadoIClienteCheck2").disabled=true;
    document.getElementById("estadoIClienteCheck3").disabled=true;
    document.getElementById("id_cliente_informe").disabled=true;
    
    document.getElementById("fechaFinalF").disabled=true;
    document.getElementById("montoF").disabled=true;
    document.getElementById("fechaF").disabled=true;
    document.getElementById("estadoF").disabled=true;
    document.getElementById("estadoFiadoCheck1").disabled=true;
    document.getElementById("estadoFiadoCheck2").disabled=true;
    document.getElementById("estadoFiadoCheck3").disabled=true;
    document.getElementById("detallePagosF").disabled=true;

    document.getElementById("montoFaltanteF").disabled=true;
    document.getElementById("montoAbonadoF").disabled=true;
    document.getElementById("fechaAbonoF").disabled=true;
    document.getElementById("clienteFiado").disabled=true;

    document.getElementById("correoP").disabled=true;
    document.getElementById("telefonoP").disabled=true;
    document.getElementById("direccionP").disabled=true;
    document.getElementById("estadoP").disabled=true;
    document.getElementById("estadoProveedorCheck1").disabled=true;
    document.getElementById("estadoProveedorCheck2").disabled=true;
    document.getElementById("estadoProveedorCheck3").disabled=true;
    document.getElementById("razonSocialP").disabled=true;
    document.getElementById("razonSocialPCheck1").disabled=true;
    document.getElementById("razonSocialPCheck2").disabled=true;
    document.getElementById("categoriaP").disabled=true;
    document.getElementById("categoriaProveedorCheck1").disabled=true;
    document.getElementById("categoriaProveedorCheck2").disabled=true;
    document.getElementById("id_proveedor").disabled=true;
    document.getElementById("id_categoria_proveedor").disabled=true;

    document.getElementById("fechaOrdenP").disabled=true;
    document.getElementById("fechaLlegadaOrdenP").disabled=true;
    document.getElementById("fechaRecepOrdenP").disabled=true;
    document.getElementById("horaRecepOrdenP").disabled=true;
    document.getElementById("estadoRecepcionO").disabled=true;
    document.getElementById("estadoOrdenPCheck1").disabled=true;
    document.getElementById("estadoOrdenPCheck2").disabled=true;
    document.getElementById("estadoOrdenPCheck3").disabled=true;
    document.getElementById("razonSocialOrdenP").disabled=true;
    document.getElementById("razonSocialOrdenPCheck1").disabled=true;
    document.getElementById("razonSocialOrdenPCheck2").disabled=true;
    document.getElementById("id_ordenP_informe").disabled=true;
    document.getElementById("detalleOrdenP").disabled=true;
    document.getElementById("cantidadOrdenP").disabled=true;
    document.getElementById("productoOrdenP").disabled=true;
    
    document.getElementById("usuarioPaginaVisitada").disabled=true;
    document.getElementById("usuarioVisitasPaginaCheck1").disabled=true;
    document.getElementById("usuarioVisitasPaginaCheck2").disabled=true;
    document.getElementById("id_visitas_pagina").disabled=true;
    document.getElementById("fechaVisitasP").disabled=true;
    document.getElementById("paginaVisitada").disabled=true;
    
    function checkeado(form)
    {
        if (form.productos.checked == true)
        {
            form.precio.disabled = false;
            form.descripcion.disabled = false;
            form.precioCompra.disabled = false;
            form.stockCritico.disabled = false;
            form.fechaVencimiento.disabled = false;
            form.codigoBarra.disabled = false;
            form.stock.disabled = false;
            form.estado.disabled = false;
            form.familiaProducto.disabled = false;
            form.tipoProducto.disabled = false;
            form.nombre.disabled = false;
            
        }

        if (form.productos.checked == false)
        {
            form.precio.disabled = true;
            form.descripcion.disabled = true;
            form.precioCompra.disabled = true;
            form.stockCritico.disabled = true;
            form.fechaVencimiento.disabled = true;
            form.codigoBarra.disabled = true;
            form.stock.disabled = true;
            form.estado.disabled = true;
            form.familiaProducto.disabled = true;
            form.nombre.disabled = true;
            
        }

        if (form.stock.checked == true){
            
            form.stockCheck1.disabled = false;
            form.stockCheck2.disabled = false;
            form.stockCheck3.disabled = false;
        }

        if (form.stock.checked == false || form.stock.disabled == true){
            form.stockCheck1.disabled = true;
            form.stockCheck2.disabled = true;
            form.stockCheck3.disabled = true;
        }

        if (form.estado.checked == true){
            
            form.estadoCheck1.disabled = false;
            form.estadoCheck2.disabled = false;
            form.estadoCheck3.disabled = false;
        }

        if (form.estado.checked == false || form.estado.disabled == true){
            form.estadoCheck1.disabled = true;
            form.estadoCheck2.disabled = true;
            form.estadoCheck3.disabled = true;
        }
        

        if (form.familiaProducto.checked == true){
            
            form.familiaProductoCheck1.disabled = false;
            form.familiaProductoCheck2.disabled = false;
        }

        if (form.familiaProducto.checked == false || form.familiaProducto.disabled == true){
            form.familiaProductoCheck1.disabled = true;
            form.familiaProductoCheck2.disabled = true;
        }

        if (form.familiaProductoCheck2.checked == true){
            form.id_familia_producto.disabled = false;
        }

        if (form.familiaProductoCheck1.checked == true){
            form.id_familia_producto.disabled = true;
        }

        
        if (form.tipoProducto.checked == true){
            
            form.tipoProductoCheck1.disabled = false;
            form.tipoProductoCheck2.disabled = false;
        }

        if (form.tipoProducto.checked == false || form.tipoProducto.disabled == true){
            form.tipoProductoCheck1.disabled = true;
            form.tipoProductoCheck2.disabled = true;
        }

        if (form.tipoProductoCheck2.checked == true){
            form.id_tipo_producto.disabled = false;
        }

        if (form.tipoProductoCheck1.checked == true){
            form.id_tipo_producto.disabled = true;
        }

        // boletas
        if (form.boletas.checked == true)
        {
            form.fecha.disabled = false;
            form.total.disabled = false;
            form.usuarioB.disabled = false;
            form.clienteB.disabled = false;
            form.estadoB.disabled = false;
            form.detalleBoleta.disabled = false;
        }

        if (form.boletas.checked == false)
        {
            form.fecha.disabled = true;
            form.total.disabled = true;
            form.usuarioB.disabled = true;
            form.clienteB.disabled = true;
            form.estadoB.disabled = true;
            form.detalleBoleta.disabled = true;

            form.usuarioBoletaCheck1.disabled = true;
            form.usuarioBoletaCheck2.disabled = true;
            form.clienteBoletaCheck1.disabled = true;
            form.clienteBoletaCheck2.disabled = true;
            form.estadoBoletaCheck1.disabled = true;
            form.estadoBoletaCheck2.disabled = true;
            form.estadoBoletaCheck3.disabled = true;
        }

        if (form.usuarioB.checked == true){
            
            form.usuarioBoletaCheck1.disabled = false;
            form.usuarioBoletaCheck2.disabled = false;
        }

        if (form.usuarioB.checked == false || form.usuarioB.disabled == true){
            form.usuarioBoletaCheck1.disabled = true;
            form.usuarioBoletaCheck2.disabled = true;
        }

        if (form.usuarioBoletaCheck2.checked == true){
            form.id_usuario.disabled = false;
        }

        if (form.usuarioBoletaCheck1.checked == true){
            form.id_usuario.disabled = true;
        }

        if (form.clienteB.checked == true){
            
            form.clienteBoletaCheck1.disabled = false;
            form.clienteBoletaCheck2.disabled = false;
        }

        if (form.clienteB.checked == false || form.clienteB.disabled == true){
            form.clienteBoletaCheck1.disabled = true;
            form.clienteBoletaCheck2.disabled = true;
        }

        if (form.clienteBoletaCheck2.checked == true){
            form.id_cliente.disabled = false;
        }

        if (form.clienteBoletaCheck1.checked == true){
            form.id_cliente.disabled = true;
        }

        if (form.estadoB.checked == true){
            
            form.estadoBoletaCheck1.disabled = false;
            form.estadoBoletaCheck2.disabled = false;
            form.estadoBoletaCheck3.disabled = false;
        }

        if (form.estadoB.checked == false || form.estadoB.disabled == true){
            form.estadoBoletaCheck1.disabled = true;
            form.estadoBoletaCheck2.disabled = true;
            form.estadoBoletaCheck3.disabled = true;
        }

        //detalle
        if (form.detalleBoleta.checked == true){
            
            form.productoDetalle.disabled = false;
            form.cantidadDetalle.disabled = false;
            form.precioDetalle.disabled = false;
            
        }

        if (form.detalleBoleta.checked == false || form.detalleBoleta.disabled == true){
            form.productoDetalle.disabled = true;
            form.cantidadDetalle.disabled = true;
            form.precioDetalle.disabled = true;
        }
        

        //cliente
        if (form.clientes.checked == true){
            
            form.runC.disabled = false;
            form.telefonoC.disabled = false;
            form.correoC.disabled = false;
            form.direccionC.disabled = false;
            form.nombreC.disabled = false;
            form.estadoIC.disabled = false;
            
        }

        if (form.clientes.checked == false || form.clientes.disabled == true){
            form.runC.disabled = true;
            form.telefonoC.disabled = true;
            form.correoC.disabled = true;
            form.direccionC.disabled = true;
            form.nombreC.disabled = true;
            form.estadoIC.disabled = true;
        }

        if (form.nombreC.checked == true){
            
            form.nombreClienteCheck1.disabled = false;
            form.nombreClienteCheck2.disabled = false;
        }

        if (form.nombreC.checked == false || form.nombreC.disabled == true){
            form.nombreClienteCheck1.disabled = true;
            form.nombreClienteCheck2.disabled = true;
        }

        if (form.nombreClienteCheck2.checked == true){
            form.id_cliente_informe.disabled = false;
        }

        if (form.nombreClienteCheck1.checked == true){
            form.id_cliente_informe.disabled = true;
        }

        if (form.estadoIC.checked == true){
            
            form.estadoIClienteCheck1.disabled = false;
            form.estadoIClienteCheck2.disabled = false;
            form.estadoIClienteCheck3.disabled = false;
        }

        if (form.estadoIC.checked == false || form.estadoIC.disabled == true){
            form.estadoIClienteCheck1.disabled = true;
            form.estadoIClienteCheck2.disabled = true;
            form.estadoIClienteCheck3.disabled = true;
        }
        
        //fiados
        
        if (form.fiados.checked == true){
            
            form.fechaFinalF.disabled = false;
            form.montoF.disabled = false;
            form.fechaF.disabled = false;
            form.estadoF.disabled = false;
            form.nombreC.disabled = false;
            form.detallePagosF.disabled = false;
            
        }

        if (form.fiados.checked == false || form.fiados.disabled == true){
            form.fechaFinalF.disabled = true;
            form.montoF.disabled = true;
            form.fechaF.disabled = true;
            form.estadoF.disabled = true;
            form.nombreC.disabled = true;
            form.detallePagosF.disabled = true;
        }

        if (form.estadoF.checked == true){
            
            form.estadoFiadoCheck1.disabled = false;
            form.estadoFiadoCheck2.disabled = false;
            form.estadoFiadoCheck3.disabled = false;
        }

        if (form.estadoF.checked == false || form.estadoF.disabled == true){
            form.estadoFiadoCheck1.disabled = true;
            form.estadoFiadoCheck2.disabled = true;
            form.estadoFiadoCheck3.disabled = true;
        }

        if (form.detallePagosF.checked == true){
            
            form.montoFaltanteF.disabled = false;
            form.montoAbonadoF.disabled = false;
            form.fechaAbonoF.disabled = false;
            form.clienteFiado.disabled = false;
        }

        if (form.detallePagosF.checked == false || form.detallePagosF.disabled == true){
            form.montoFaltanteF.disabled = true;
            form.montoAbonadoF.disabled = true;
            form.fechaAbonoF.disabled = true;
            form.clienteFiado.disabled = true;
        }
        
        //proveedores
        if (form.proveedores.checked == true){
            
            form.correoP.disabled = false;
            form.telefonoP.disabled = false;
            form.direccionP.disabled = false;
            form.estadoP.disabled = false;
            form.razonSocialP.disabled = false;
            form.categoriaP.disabled = false;
            
        }

        if (form.proveedores.checked == false || form.proveedores.disabled == true){
            form.correoP.disabled = true;
            form.telefonoP.disabled = true;
            form.direccionP.disabled = true;
            form.estadoP.disabled = true;
            form.razonSocialP.disabled = true;
            form.categoriaP.disabled = true;
        }

        if (form.estadoP.checked == true){
            
            form.estadoProveedorCheck1.disabled = false;
            form.estadoProveedorCheck2.disabled = false;
            form.estadoProveedorCheck3.disabled = false;
        }

        if (form.estadoP.checked == false || form.estadoP.disabled == true){
            form.estadoProveedorCheck1.disabled = true;
            form.estadoProveedorCheck2.disabled = true;
            form.estadoProveedorCheck3.disabled = true;
        }
        
        if (form.razonSocialP.checked == true){
            
            form.razonSocialPCheck1.disabled = false;
            form.razonSocialPCheck2.disabled = false;
        }

        if (form.razonSocialP.checked == false || form.razonSocialP.disabled == true){
            form.razonSocialPCheck1.disabled = true;
            form.razonSocialPCheck2.disabled = true;
        }

        if (form.razonSocialPCheck2.checked == true){
            form.id_proveedor.disabled = false;
        }

        if (form.razonSocialPCheck1.checked == true){
            form.id_proveedor.disabled = true;
        }

        if (form.categoriaP.checked == true){
            
            form.categoriaProveedorCheck1.disabled = false;
            form.categoriaProveedorCheck2.disabled = false;
        }

        if (form.categoriaP.checked == false || form.categoriaP.disabled == true){
            form.categoriaProveedorCheck1.disabled = true;
            form.categoriaProveedorCheck2.disabled = true;
        }

        if (form.categoriaProveedorCheck2.checked == true){
            form.id_categoria_proveedor.disabled = false;
        }

        if (form.categoriaProveedorCheck1.checked == true){
            form.id_categoria_proveedor.disabled = true;
        }

        //orden pedido
        if (form.ordenes.checked == true){
            
            form.fechaOrdenP.disabled = false;
            form.fechaLlegadaOrdenP.disabled = false;
            form.fechaRecepOrdenP.disabled = false;
            form.horaRecepOrdenP.disabled = false;
            form.estadoRecepcionO.disabled = false;
            form.razonSocialOrdenP.disabled = false;
            form.detalleOrdenP.disabled = false;
            
        }

        if (form.ordenes.checked == false || form.ordenes.disabled == true){
            form.fechaOrdenP.disabled = true;
            form.fechaLlegadaOrdenP.disabled = true;
            form.fechaRecepOrdenP.disabled = true;
            form.horaRecepOrdenP.disabled = true;
            form.estadoRecepcionO.disabled = true;
            form.razonSocialOrdenP.disabled = true;
            form.detalleOrdenP.disabled = true;
        }
        
        if (form.estadoRecepcionO.checked == true){
            
            form.estadoOrdenPCheck1.disabled = false;
            form.estadoOrdenPCheck2.disabled = false;
            form.estadoOrdenPCheck3.disabled = false;
        }

        if (form.estadoRecepcionO.checked == false || form.estadoRecepcionO.disabled == true){
            form.estadoOrdenPCheck1.disabled = true;
            form.estadoOrdenPCheck2.disabled = true;
            form.estadoOrdenPCheck3.disabled = true;
        }
        
        if (form.detalleOrdenP.checked == true){
            
            form.cantidadOrdenP.disabled = false;
            form.productoOrdenP.disabled = false;
        }

        if (form.detalleOrdenP.checked == false || form.detalleOrdenP.disabled == true){
            form.cantidadOrdenP.disabled = true;
            form.productoOrdenP.disabled = true;
        }
        
        if (form.razonSocialOrdenP.checked == true){
            
            form.razonSocialOrdenPCheck1.disabled = false;
            form.razonSocialOrdenPCheck2.disabled = false;
            
        }

        if (form.razonSocialOrdenP.checked == false || form.razonSocialOrdenP.disabled == true){
            form.razonSocialOrdenPCheck1.disabled = true;
            form.razonSocialOrdenPCheck2.disabled = true;
            
        }

        if (form.razonSocialOrdenPCheck2.checked == true){
            form.id_ordenP_informe.disabled = false;
        }

        if (form.razonSocialOrdenPCheck1.checked == true){
            form.id_ordenP_informe.disabled = true;
        }

        //visitas
        if (form.visitas.checked == true){
            
            form.usuarioPaginaVisitada.disabled = false;
            form.fechaVisitasP.disabled = false;
            form.paginaVisitada.disabled = false;
        }

        if (form.visitas.checked == false || form.visitas.disabled == true){
            form.usuarioPaginaVisitada.disabled = true;
            form.fechaVisitasP.disabled = true;
            form.paginaVisitada.disabled = true;
        }
        //
        if (form.usuarioPaginaVisitada.checked == true){
            
            form.usuarioVisitasPaginaCheck1.disabled = false;
            form.usuarioVisitasPaginaCheck2.disabled = false;
            
        }

        if (form.usuarioPaginaVisitada.checked == false || form.usuarioPaginaVisitada.disabled == true){
            form.usuarioVisitasPaginaCheck1.disabled = true;
            form.usuarioVisitasPaginaCheck2.disabled = true;
            
        }

        if (form.usuarioVisitasPaginaCheck2.checked == true){
            form.id_visitas_pagina.disabled = false;
        }

        if (form.usuarioVisitasPaginaCheck1.checked == true){
            form.id_visitas_pagina.disabled = true;
        }
    }
    
</script>
<!-- <script src="{% static 'js/informe.js' %}"></script> -->
{% endblock %}