{% load static %}

<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Almacen Yuyitos</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/11aea48714.js"></script>
        <link rel="stylesheet" href="{% static 'css/layout.css' %}">
        <script src = "https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>   
    </head>
    <body>
        <nav class="navbar contenedor-principal navbar-expand-lg">
            <div class="container-fluid">
                
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <i class="fas fa-store fa-2x p-2"></i>
                    <h6>Almacen</h6>
                    <h6>Yuyitos</h6>
                    
                </div>
                <div class="p-2">
                    <i class="fas fa-user-tie fa-2x"></i>
                </div>
                <div class="nombre-usuario">
                    {% if user.is_authenticated %}
                        <span id="username">Bienvenido: {{ request.user }}</span>
                        <a href="{% url 'logout'%}?next={{request.path}}" class="btn btn-success">Cerrar Sesion</a>
                    {% endif %}
                </div>
            </div>
        </nav>
    {% if user.is_authenticated %}
        <nav class="navbar navegador navbar-expand-lg">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown btn btn-outline-secondary m-1">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Informes
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown btn btn-outline-secondary m-1">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Gestion de modulos
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/usuarios">Modulo de Usuario</a></li>
                                <li><a class="dropdown-item" href="/clientes">Modulo de Cliente</a></li>
                                <li><a class="dropdown-item" href="/proveedores">Modulo de Proveedor</a></li>
                                <li><a class="dropdown-item" href="/productos">Modulo de Productos</a></li>
                            </ul>
                        </li>
                    
                        <li class="nav-item dropdown btn btn-outline-secondary  m-1">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Recepcion
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        
                    </ul>
                    
                </div>
                
            </div>
        </nav>
    {% endif %}

        <div id="content">
            {% block content %}
                <!--codigo que viene de templates-->
            {% endblock %}
        </div>

        <!--boton de ayuda-->
        <button disabled type="button" class="btn-flotante-ayuda" data-bs-toggle="tooltip" data-bs-placement="top" title="holaaaa">
            Te ayudo?
        </button>

        <div class="barra">
            <span class="esquina-izquierda"></span>
        </div>

        <button type="button" class="btn-flotante" onclick="manual()">
            <i class="fas fa-question fa-1x"></i>
        </button>

        <script>
            function manual(){
                Swal.fire({
                    title: 'Manual',
                    text: `ajkshwkludjgbslkjqdhbkl.qajhfkjlñhlñkhfwasñiklhjlkfvhlñhfjñdvhñjkdsfvhjkñ
                        sdfvhjksdfvhjdhjñkdfhñjfhjñhjfhjlñsfdvhjlñsdfhjsdhjdfhjsdfvhjñkfdshjñkdfshjñsdfhjñsdfhjhjdfsjñk
                        ñakjsl{ñkfhjnñlahfñlkhasñdlkfhlñekisrhdfgvklñhsñolrihfgdñlihs{lñiihjlkgsjigsjigjsklgjkljklg
                        kdjsgfghjklñdfahjk.dfashjkdfashjkadfhjkadfhjñklafdhjñadfhjñkadfhjkadfhjkadfhjlfadlñafhdjkahjkllñkfjadklad`,
                    showConfirmButton: true,
                    confirmButtonText: 'Continuar',
                })
            }
        </script>
        <!--aca termina el boton de ayuda-->
        
        
    </body>
</html>