{% extends 'layout.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/clientes.css' %}">
    <div class="p-3">
        <div class="pt-3">
            <h1 class="text-center">Crear Categoria de Proveedor</h1>
            {% if messages %}
                <ul class="messages list-group mb-3">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }} list-group-item list-group-item-primary"{% endif %}>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            
            <form method="post" action="">
                {% csrf_token %}
                <div class="container contenedorCrearCliente">
                    
                    <label for="descripcion" class="txt_negrita">Descripcion:</label>
                    <input class="form-control p-2 m-3" type="text" name="descripcion" onkeypress="return descripcionCaracteres(event)"/>

                    <button type="submit" id="boton_aceptar" class="btn btn-primary">Aceptar</button>
                    <a href="{% url 'listarCategoriasProv' %}" type="submit" class="btn btn-primary">Cancelar</a>
                </div> 
            </form>
        </div>
    </div>
    <script>
        function manual(){
            Swal.fire({
                title: 'Manual',
                html: `En esta pagina podemos crear categorias de proveedor, 
                en donde veremos un formulario con distintos campos que 
                deberemos llenar, los campos dentro del formulario son:
                <br><br>
                • Descripcion: Corresponde al nombre de la categoria del proveedor
                que se creara.
                <br><br>
                Dentro del campo que nos indica que debemos introducir el 
                nombre debemos escribir el texto correspondiente al nombre 
                de la categoria del proveedor que queremos agregar.<br>
                <br><br>
                Una vez introducida la descripcion de la categoria, 
                procederemos a seleccionar la opción de “Aceptar”.<br>
                Si el dato introducido se encuentra correcto, el 
                sistema nos redireccionará a la administración de categorias de 
                proveedor, mostrándonos un mensaje de confirmación con el 
                siguiente enunciado “Categoria creado correctamente”
                Si, por el contrario, se desea cancelar el proceso de agregar 
                un tipo de producto, deberemos hacer clic en el botón “Cancelar”, 
                esto nos llevará hacia la interfaz de categoria de proveedor sin 
                efectuar ningún cambio. <br>
                `,
                showConfirmButton: true,
                confirmButtonText: 'Continuar',
            })
        }
    </script>
    <script>
        function descripcionCaracteres(e){
            key = e.keyCode || e.which;
            tecla = String.fromCharCode(key)
            letras = " ABCDEFGHIJKLMNOPQRSTUVWXYZáéíóúabcdefghijklmnñopqrstuvwxyz1234567890";
            especiales = "8-37-39-46";
    
            tecla_especial = false
            for(var i in especiales){
                if(key == especiales[i]){
                    tecla_especial = true;
                    break;
                }
            }
    
            if(letras.indexOf(tecla)==-1 && !tecla_especial){
                return false;
            }
        }
    </script>

{% endblock %}
