{% extends 'layout.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/productos.css' %}">
    <div class="p-3">
        <div class="pt-3">
            
            {% if messages %}
                <ul class="messages list-group mb-3">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }} list-group-item list-group-item-primary"{% endif %}>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            
            <form method="post" action="" class="p-3">
                {% csrf_token %}
                <div class="container contenedorCrearProducto">
                    <h1 class="text-center pb-2">Editar Producto </h1>
                    <div class="form-group pb-3">
                        <label for="last_name" class="txt_negrita">Nombre:</label>
                        {% render_field form.nombre class="form-control" onkeypress="return letrasNumeros(event)" %} <!-- Usamos la librería 'widget_tweaks' para crear esta caja de texto -->
                    </div>
                    <div class="form-group pb-3">
                        <label for="first_name" class="txt_negrita">Precio:</label>
                        {% render_field form.precio class="form-control" onkeypress="return numerosCaracteres(event)" %} <!-- Usamos la librería 'widget_tweaks' para crear esta caja de texto -->
                    </div>
                    <div class="form-group pb-3">
                        <label for="email" class="txt_negrita">Descripcion:</label>
                        {{ form.descripcion|add_class:"form-control" }} <!-- Usamos la librería 'widget_tweaks' para crear esta caja de texto --> 
                    </div>
                    <div class="form-group pb-3">
                        <label for="password1" class="txt_negrita">Precio de compra:</label>
                        {% render_field form.precio_compra class="form-control" onkeypress="return numerosCaracteres(event)" %} <!-- Usamos la librería 'widget_tweaks' para crear esta caja de texto --> 
                    </div>
                    <div class="form-group pb-3">
                        <label for="password2" class="txt_negrita">Stock:</label>
                        {% render_field form.stock class="form-control" onkeypress="return numerosCaracteres(event)" %} <!-- Usamos la librería 'widget_tweaks' para crear esta caja de texto --> 
                    </div>
                    <div class="form-group pb-3">
                        <label for="password2" class="txt_negrita">Stock critico:</label>
                        {% render_field form.stock_critico class="form-control" onkeypress="return numerosCaracteres(event)" %} <!-- Usamos la librería 'widget_tweaks' para crear esta caja de texto --> 
                    </div>
                    
                    <h3 class="pb-3">Si desea mantener la fecha y hora de vencimiento actual, dejelo como está</h3>
                    <div class="form-group pb-3">
                        <label for="fecha_vencimiento" class="txt_negrita">Haga click en la caja para seleccionar Fecha de vencimiento: </label>
                        <input class="form-control dateinput" type="text" name="fecha_vencimiento" readonly placeholder="{{fecha}}" style="width:110px"/>
                    </div>

                    <div class="form-group pb-3">
                        <label for="hora_vencimiento" class="txt_negrita">Haga click en la caja para seleccionar Hora de vencimiento: </label>
                        <input class="form-control timepicker" type="text" name="hora_vencimiento" readonly placeholder="{{hora}}" style="width:110px"/>
                    </div>

                    <h3 class="pb-3">Si desea mantener el codigo de barra actual, favor de seleccionar tipo producto y proveedor que se indica entre "()" y familia producto dejelo como está</h3>
                    <div class="form-group pb-3">
                        <label for="password2" class="txt_negrita">Codigo de barra:</label>
                        {{ form.codigo_barra|add_class:"form-control" }} <!-- Usamos la librería 'widget_tweaks' para crear esta caja de texto --> 
                    </div>
                    <div class="form-group pb-3">
                        <label for="familia_producto" class="txt_negrita">Familia producto:</label>
                        {{ formProd.familia_producto|add_class:"form-control" }} <!-- Usamos la librería 'widget_tweaks' para crear esta caja de texto -->
                    </div>
                    <div class="form-group pb-3">
                        <label for="tipo_producto" class="txt_negrita">Tipo producto actual: ({{tipo_producto}})</label>
                        {{ formFam.tipo_producto|add_class:"form-control" }} <!-- Usamos la librería 'widget_tweaks' para crear esta caja de texto -->
                    </div>
                    <div class="form-group pb-3">
                        <label for="proveedor" class="txt_negrita">Proveedor actual: ({{proveedor}})</label>
                        {{ formProv.proveedor|add_class:"form-control" }} <!-- Usamos la librería 'widget_tweaks' para crear esta caja de texto --> 
                    </div>
                    
                    <button type="submit" id="boton_aceptar" class="btn btn-primary">Aceptar</button>
                    <a href="{% url 'listarProductos' %}" type="submit" class="btn btn-primary">Cancelar</a>
                </div> 
            </form>
        </div>
    </div>
    <script>
        function manual(){
            Swal.fire({
                title: 'Manual',
                html: `En esta pagina podremos actualizar los datos del producto seleccionado.
                <br><br>
                aca veremos 
                un formulario que debemos completar con datos referentes al 
                producto que queramos actualizar.<br>
                El formulario cuenta con los siguientes campos:
                <br><br>
                • Nombre: Corresponde al nombre del producto a añadir.<br>
                • Precio: Corresponde al precio que tendrá el producto en sistema.<br>
                • Precio compra: Corresponde al precio al que se adquirió el producto.<br>
                • Descripción: Corresponde a una pequeña descripción del producto.<br>
                • Stock: Corresponde a la cantidad que se tiene de ese producto.<br>
                • Stock crítico: Corresponde a la cantidad mínima que se debe tener 
                disponible del producto<br>
                • Fecha de vencimiento: Corresponde a cuando vencerá el producto, 
                solo si esta información es legible (Opcional).<br>
                • Hora de vencimiento: Corresponde a la hora en que vencerá, solo 
                si esta información es legible (Opcional).<br>
                • Familia de producto: Corresponde a la familia a la que pertenece 
                dicho producto<br>
                • Tipo de producto: Corresponde al tipo al cual pertenece el producto<br>
                • Proveedor: Corresponde al proveedor del producto.
                <br><br>
                En el campo de selección de fecha de vencimiento, si seleccionamos 
                sobre la barra que dice “Click aquí” se nos desplegará un pequeño 
                calendario, es aquí donde podremos seleccionar la fecha de vencimiento 
                correspondiente al producto que se desee ingresar.
                <br><br>
                Comenzaremos con la selección de mes, para esto debemos seleccionar 
                la pequeña barra en la parte superior del calendario que contiene el 
                mes actual.<br>
                Esto desplegara una lista completa con todos los meses del año, aquí 
                seleccionaremos el mes que corresponda.
                <br><br>
                Tras la selección de mes, realizamos el mismo proceso con el año de 
                vencimiento, del lado derecho podremos encontrar el menú desplegable 
                con el año actual, esto nos desplegará una lista que contendrá un 
                periodo de años que comprende 10 años antes del año actual, y 10 años 
                posteriores a este.<br>
                Procederemos a seleccionar el año que corresponda al año de vencimiento 
                del producto
                <br><br>
                Para concluir la construcción de la fecha de vencimiento, deberemos 
                seleccionar el día de vencimiento seleccionando sobre este dentro del 
                calendario, tras esto, automáticamente se nos llenará el campo con la 
                fecha de vencimiento en formato día/mes/año.
                <br><br>
                Para seleccionar la hora de vencimiento, deberemos dirigirnos hacia 
                el menú desplegable con el texto “Click aquí” esto desplegara una 
                lista completa de horas en formato 24 horas, estas en intervalos de 
                30 minutos cada una.<br>
                Para la visualización de la lista completa, posicione el mouse por 
                sobre la lista, y con la rueda, podrá navegar hacia arriba o hacia 
                abajo entre el listado completo. 
                <br><br>
                Una vez encontrada la hora que necesite, presione sobre ella, esto 
                causará que el campo se llene automáticamente con la hora seleccionada.
                <br><br>
                Para seleccionar la familia del producto, deberemos posicionarnos 
                sobre el menú desplegable y presionarlo, esto desplegará una lista 
                completa con las familias de productos disponibles en sistema.<br>
                Para seleccionar la familia de producto que necesitemos, solo hacer 
                clic sobre ella, esto ocasionará que el campo se llene automáticamente 
                con lo seleccionado. 
                <br><br>
                Luego debemos seleccionar el tipo del producto, para ello iremos al 
                menú desplegable correspondiente y lo presionaremos, esto nos 
                desplegara una lista con los tipos de producto en sistema, 
                seleccionaremos el que estimemos conveniente presionando sobre él, 
                esto hará que el campo se llene de forma automática con lo seleccionado. 
                <br><br>
                Tras esto, deberemos proceder con la selección de proveedor, para 
                ello nos iremos hacia la lista desplegable correspondiente y la 
                presionaremos, esto nos mostrará la lista con los proveedores creados 
                anteriormente.<br>
                Procederemos a seleccionar uno de los proveedores de la lista, tras 
                esto, automáticamente el campo se llenará con el proveedor seleccionado.
                <br><br>
                Una vez completados todos los datos del formulario, procederemos a 
                confirmar presionando el botón de “Aceptar”, si todos los datos 
                introducidos son válidos, se nos redirigirá hacia la interfaz de 
                administración de productos, junto a un mensaje en pantalla que nos 
                validará que el producto fue actualizado correctamente.<br>
                Si desea cancelar el proceso de actualizar un producto, puede seleccionar 
                la opción de “Cancelar”, esto lo redirigirá a la interfaz de 
                administración de productos sin efectuar ningún cambio. 
                `,
                showConfirmButton: true,
                confirmButtonText: 'Continuar',
            })
        }
    </script>
    <script>

        function numerosCaracteres(e) {
            key = e.keyCode || e.which;
            tecla = String.fromCharCode(key).toLowerCase();
            letras = "1234567890";
            especiales = [8, 37, 39, 46];

            tecla_especial = false
            for(var i in especiales) {
                if(key == especiales[i]) {
                    tecla_especial = true;
                    break;
                }
            }

            if(letras.indexOf(tecla) == -1 && !tecla_especial)
                return false;
        }

        function letrasNumeros(e){
           key = e.keyCode || e.which;
           tecla = String.fromCharCode(key)
           letras = " ABCDEFGHIJKLMNOPQRSTUVWXYZáéíóúabcdefghijklmnñopqrstuvwxyz1234567890";
           especiales = "8-37-39-46";
    
           tecla_especial = false
           for(var i in especiales){
                if(key == especiales[i]){
                    tecla_especial = true;
                    break;
                }
            }
    
            if(letras.indexOf(tecla)==-1 && !tecla_especial){
                return false;
            }
        }

    </script>
{% endblock %}