{% extends 'layout.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/clientes.css' %}">
    <div class="p-3">
        <div class="pt-3">
            
            {% if messages %}
                <ul class="messages list-group mb-3">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }} list-group-item list-group-item-primary"{% endif %}>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            
            <form method="post" action="">
                {% csrf_token %}

                <div class="container contenedorCrearCliente">
                    <div class="form-group pb-3">
                        <label for="run" class="txt_negrita">Run:</label>
                        <input class="form-control" type="text" name="run" style="border: revert;"/>
                    </div>
                    <div class="form-group pb-3">
                        <label for="nombre" class="txt_negrita">Nombre:</label>
                        <input class="form-control" type="text" name="nombre" style="border: revert;"/>
                    </div>
                    <div class="form-group pb-3">
                        <label for="telefono" class="txt_negrita">Telefono:</label>
                        <input class="form-control" type="text" name="telefono" style="border: revert;"/>
                    </div>
                    <div class="form-group pb-3">
                        <label for="correo" class="txt_negrita">Correo:</label>
                        <input class="form-control" type="text" name="correo" style="border: revert;"/>
                    </div>
                    <div class="form-group pb-3">
                        <label for="direccion" class="txt_negrita">Direccion:</label>
                        <input class="form-control" type="text" name="direccion" style="border: revert;"/>
                    </div>
                    
                    <button type="submit" id="boton_aceptar" class="btn btn-primary">Aceptar</button>
                    <a href="{% url 'listarClientes' %}" type="submit" class="btn btn-primary">Cancelar</a>
                </div> 
            </form>
        </div>
    </div>
  
{% endblock %}
