{% extends 'layout.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/clientes.css' %}">
    <div class="p-3">
        <div class="pt-3">
            
            {% if messages %}
                <ul class="messages list-group mb-3">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }} list-group-item list-group-item-primary"{% endif %}>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            
            <form method="post" action="">
                {% csrf_token %}

                <div class="container contenedorCrearCliente">
                    <h1 class="text-center pb-2"> Crear Cliente</h1>
                    <div class="form-group pb-3">
                        <label for="run" class="txt_negrita">Run:</label>
                        <input class="form-control" type="text" name="run" onkeypress="return runCaracteres(event)"/>
                    </div>
                    <div class="form-group pb-3">
                        <label for="nombre" class="txt_negrita">Nombre:</label>
                        <input class="form-control" type="text" name="nombre" onkeypress="return soloLetras(event)"/>
                    </div>
                    <div class="form-group pb-3">
                        <label for="telefono" class="txt_negrita">Telefono:</label>
                        <input class="form-control" type="text" name="telefono" onkeypress="return telefonoCaracteres(event)"/>
                    </div>
                    <div class="form-group pb-3">
                        <label for="correo" class="txt_negrita">Correo:</label>
                        <input class="form-control" type="text" name="correo" onkeypress="return sinEspacios(event)"/>
                    </div>
                    <div class="form-group pb-3">
                        <label for="direccion" class="txt_negrita">Direccion:</label>
                        <input class="form-control" type="text" name="direccion"/>
                    </div>
                    
                    <button type="submit" id="boton_aceptar" class="btn btn-primary">Aceptar</button>
                    <a href="{% url 'listarClientes' %}" type="submit" class="btn btn-primary">Cancelar</a>
                </div> 
            </form>
        </div>
    </div>
    <script>
        function manual(){
            Swal.fire({
                title: 'Manual',
                html: `En esta pagina podremos crear clientes para realizar 
                ventas con fiado. en donde veremos un formulario que deberemos 
                llenar con la información del cliente que deseemos crear, dentro 
                de este formulario podremos encontrar los siguientes campos:
                <br><br>
                • Run: corresponde al run del cliente.<br>
                • Nombre: corresponde al nombre y apellido del cliente<br>
                • Teléfono: corresponde al número de teléfono del cliente<br>
                • Correo: corresponde a la dirección de correo electrónico del cliente<br>
                • Dirección: corresponde a la dirección del cliente.
                <br><br>
                Luego de haber llenado todos los campos con la información 
                solicitada, podremos seleccionar el botón de aceptar.<br>
                En caso de que se desee interrumpir el proceso de creación de 
                cliente, siempre se puede acceder al botón “Cancelar”, lo cual 
                nos devolverá a la interfaz de administración de clientes sin 
                efectuar cambio alguno. 
                <br><br>
                Tras seleccionar el botón de aceptar, si los campos poseen 
                información válida para el sistema, se procederá con la creación 
                del usuario, luego será redirigido nuevamente a la interfaz de 
                administración de clientes, junto a un mensaje informativo que 
                nos mostrará que el cliente fue creado con éxito, esto lo podremos 
                corroborar al visualizar al cliente recién creado dentro de la 
                lista de clientes. 
                `,
                showConfirmButton: true,
                confirmButtonText: 'Continuar',
            })
        }
    </script>
    <script>
        function soloLetras(e){
           key = e.keyCode || e.which;
           tecla = String.fromCharCode(key)
           letras = " áéíóúabcdefghijklmnñopqrstuvwxyz";
           especiales = "8-37-39-46";
    
           tecla_especial = false
           for(var i in especiales){
                if(key == especiales[i]){
                    tecla_especial = true;
                    break;
                }
            }
    
            if(letras.indexOf(tecla)==-1 && !tecla_especial){
                return false;
            }
        }

        function runCaracteres(e) {
            key = e.keyCode || e.which;
            tecla = String.fromCharCode(key).toLowerCase();
            letras = "1234567890k-";
            especiales = [8, 37, 39, 46];

            tecla_especial = false
            for(var i in especiales) {
                if(key == especiales[i]) {
                    tecla_especial = true;
                    break;
                }
            }

            if(letras.indexOf(tecla) == -1 && !tecla_especial)
                return false;
        }

        function telefonoCaracteres(e) {
            key = e.keyCode || e.which;
            tecla = String.fromCharCode(key).toLowerCase();
            letras = "1234567890+";
            especiales = [8, 37, 39, 46];

            tecla_especial = false
            for(var i in especiales) {
                if(key == especiales[i]) {
                    tecla_especial = true;
                    break;
                }
            }

            if(letras.indexOf(tecla) == -1 && !tecla_especial)
                return false;
        }

        function sinEspacios(e){
           key = e.keyCode || e.which;
           tecla = String.fromCharCode(key)
           letras = "ABCDEFGHIJKLMNOPQRSTUVWXYZáéíóúabcdefghijklmnñopqrstuvwxyz1234567890*-+{}[]!#$%&/()=¡<>,.@";
           especiales = "8-37-39-46";
    
           tecla_especial = false
           for(var i in especiales){
                if(key == especiales[i]){
                    tecla_especial = true;
                    break;
                }
            }
    
            if(letras.indexOf(tecla)==-1 && !tecla_especial){
                return false;
            }
        }

        // function limpia() {
        //     var val = document.getElementById("miInput").value;
        //     var tam = val.length;
        //     for(i = 0; i < tam; i++) {
        //         if(!isNaN(val[i]))
        //             document.getElementById("miInput").value = '';
        //     }
        // }
    </script>
  
{% endblock %}
