{% extends 'layout.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/clientes.css' %}">
    <div class="container p-3">
      <h1 class="text-center">Administracion de Clientes</h1>
      <div class="container mb-4">
        {% if messages %}
          <ul class="messages list-group mb-3">
            {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }} list-group-item list-group-item-primary"{% endif %}>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <table class="table table-striped table-hover">
        <h3 class="titulo-cliente text-center p-2 mb-0">Clientes</h3>
        <thead>
          <tr>
            <th>Run</th>
            <th>Nombre</th>
            <th>Telefono</th>
            <th>Se le puede fiar?</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
        
        <!-- Recorremos los objetos o registros que tenemos en nuestra tabla 'postres' y los listamos -->
        {% for cliente in clientes %}
          <tr>
            <td>{{ cliente.run }}</td>
            <td>{{ cliente.nombre }}</td>
            <td>{{ cliente.telefono }}</td>
            {% if cliente.estado == 1 %}
              <td class="text-center">Si</td>
            {% else %}
              <td class="text-center">No</td>
            {% endif %}
            
            <td>
      
              <!-- Usaremos un formulario que realizará la tarea de eliminar un registro o postre desde la misma tabla HTML -->                        
              <form method="POST" action="">
                {% csrf_token %}
                <div class="btn-group">
      
                  <!-- Creamos 3 botones que son ver, Editar y Eliminar, nos sirven para gestionar nuestros registros o postres -->
                  <a href="detalle/{{cliente.id}}" title="Ver" type="button" class="btn btn-success">Ver </a>
                  <a href="editar/{{cliente.id}}" title="Editar" type="button" class="btn btn-primary">Editar </a>
                  {% if cliente.estado == 1 %}
                    <a href="desactivarCliente/{{cliente.id}}" title="DesactivarCliente" type="button" class="btn btn-danger">Desactivar Cliente</a>
                  {% else %}
                    <a href="activarCliente/{{cliente.id}}" title="ActivarCliente" type="button" class="btn btn-danger">Activar Cliente </a>
                  {% endif %}
                
                </div>
              </form>
      
            </td>
          </tr>
        {% endfor %}
      
        </tbody>
      </table>

      <div align="left" class="btn_crear mb-3">
        <a href="{% url 'crearCliente' %}" type="button" class="btn btn-primary">Crear</a>
      </div>

    </div>
  <script>
    function manual(){
      Swal.fire({
        title: 'Manual',
        html: `Dentro de este módulo podremos visualizar todos los clientes ya 
        creados, junto a cada cliente se encuentran siguientes acciones:
        <br><br>
          • Ver<br>
          • Editar<br>
          • Activar cliente<br>
          • Desactivar cliente <br>
          • Crear<br><br>
        Este último lo podremos encontrar en la parte inferior izquierda de la interfaz. 
        <br><br>
        Al seleccionar la acción de “Crear” se nos redireccionará a la interfaz 
        de creación de clientes.
        <br><br>
        Si seleccionamos la acción “Ver”, nos llevará a un apartado que nos permitirá 
        visualizar todos los detalles del cliente seleccionado
        <br><br>
        Al seleccionar el botón “Editar” de algún cliente, nos llevará a un apartado 
        que nos permitirá actualizar cualquier dato ingresado del cliente seleccionado
        <br><br>
        Dentro de la administración de clientes, podremos de igual forma activar o 
        desactivar a cualquier cliente dentro del sistema, esto lo podremos corroborar 
        en el apartado de “Se le puede fiar?”, el cual cambiará de estado según 
        activemos o desactivemos cada cliente.
        <br><br>
        Si deseamos desactivar un cliente, solo deberemos irnos al botón de “Desactivar 
        cliente”, esto causará que el cliente cambie de estado, a la par de que el 
        botón de acción cambiará a “Activar cliente”, tras esto, se nos mostrará un 
        mensaje en sistema informándonos que el cliente fue desactivado con éxito.
        <br><br>
        En caso contrario, si deseamos activar un cliente, solo debemos presionar 
        el botón de “Activar cliente” esto hará que su estado cambie a “Si”, a la 
        par que el botón de acción cambiará a “Desactivar cliente”.<br>
        Podremos corroborar el cambio efectuado gracias a un mensaje en pantalla, 
        que nos indicará que el cliente fue activado con éxito. 
        `,
        showConfirmButton: true,
        confirmButtonText: 'Continuar',
      })
    }
  </script>
{% endblock %}