{% extends 'layout.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/proveedores.css' %}">
    <div class="container p-3">
        <div class="container registro pt-3">
            
            {% if messages %}
                <ul class="messages list-group mb-3">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }} list-group-item list-group-item-primary"{% endif %}>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            
            <form method="post" action="" class="p-3">
                {% csrf_token %}
                <div class="container contenedorCrearProveedor ">
                    <h1 class="text-center p-3">Crear Proveedor</h1>
                    <div class="form-group pb-3">
                        <label for="razon_social" class="txt_negrita">Razon social:</label>
                        <input class="form-control" type="text" name="razon_social" onkeypress="return razonSocCaracteres(event)"/>
                    </div>
                    <div class="form-group pb-3">
                        <label for="Correo" class="txt_negrita">Correo:</label>
                        <input class="form-control" type="text" name="correo" onkeypress="return sinEspacios(event)"/>
                    </div>
                    <div class="form-group pb-3">
                        <label for="Telefono" class="txt_negrita">Telefono:</label>
                        <input class="form-control" type="text" name="telefono" onkeypress="return telefonoCaracteres(event)"/>
                    </div>
                    <div class="form-group pb-3">
                        <label for="Direccion" class="txt_negrita">Direccion:</label>
                        <input class="form-control" type="text" name="direccion"/>
                    </div>
                    <div class="form-group pb-3">
                        <label for="Categoria" class="txt_negrita">Categoria:</label>
                        {{ form.categoria_proveedor|add_class:"form-control" }} <!-- Usamos la librería 'widget_tweaks' para crear esta caja de texto --> 
                    </div>
                    
                    
                    <button type="submit" id="boton_aceptar" class="btn btn-primary">Aceptar</button>
                    <a href="{% url 'listarProveedores' %}" type="submit" class="btn btn-primary">Cancelar</a> 
                </div>
            </form>
        </div>
    </div>
    <script>
        function manual(){
            Swal.fire({
                title: 'Manual',
                html: `En esta pagina podremos crear proveedores, en donde se nos 
                presentará un formulario que deberemos llenar con la información 
                perteneciente al proveedor que deseemos añadir al sistema, dentro 
                del formulario encontraremos los siguientes campos:
                <br><br>
                • Razón social: Corresponde al nombre del proveedor que traerá 
                los productos. <br>
                • Correo: Corresponde a la dirección de correo electrónico del proveedor<br>
                • Teléfono: corresponde al número del teléfono del proveedor<br>
                • Dirección: corresponde a la dirección del proveedor<br>
                • Categoría: corresponde al rubro al cual pertenece el proveedor. 
                <br><br>
                Si presionamos sobre el campo de categoría, podremos observar que 
                se nos desplegará un listado de categorías agregadas con anterioridad 
                dentro del sistema, aquí deberemos seleccionar la categoría a la cual 
                pertenece el proveedor que deseemos agregar. 
                <br><br>
                Tras haber completado la totalidad del formulario, procederemos a 
                seleccionar el botón de “aceptar” para completar con la creación 
                de un proveedor.
                Si se desea cancelar la operación, podremos presionar el botón 
                cancelar, lo cual nos redirigirá nuevamente a la interfaz de 
                administración de proveedores sin efectuar ningún cambio. 
                <br><br>
                Tras seleccionar el botón “Aceptar”, se redirigirá hacia la página 
                de administración de proveedores, junto con un mensaje en sistema 
                que nos indicará que la creación del proveedor fue realizada correctamente.<br>
                Para corroborarlo, solo deberemos confirmar que el proveedor 
                recientemente creado se encuentre dentro del listado de proveedores 
                en sistema. 
                `,
                showConfirmButton: true,
                confirmButtonText: 'Continuar',
            })
        }
    </script>
    <script>
        function soloLetras(e){
           key = e.keyCode || e.which;
           tecla = String.fromCharCode(key)
           letras = " áéíóúabcdefghijklmnñopqrstuvwxyz";
           especiales = "8-37-39-46";
    
           tecla_especial = false
           for(var i in especiales){
                if(key == especiales[i]){
                    tecla_especial = true;
                    break;
                }
            }
    
            if(letras.indexOf(tecla)==-1 && !tecla_especial){
                return false;
            }
        }

        function razonSocCaracteres(e) {
            key = e.keyCode || e.which;
            tecla = String.fromCharCode(key).toLowerCase();
            letras = " 1234567890k-ABCDEFGHIJKLMNOPQRSTUVWXYZáéíóúabcdefghijklmnñopqrstuvwxyz";
            especiales = [8, 37, 39, 46];

            tecla_especial = false
            for(var i in especiales) {
                if(key == especiales[i]) {
                    tecla_especial = true;
                    break;
                }
            }

            if(letras.indexOf(tecla) == -1 && !tecla_especial)
                return false;
        }

        function telefonoCaracteres(e) {
            key = e.keyCode || e.which;
            tecla = String.fromCharCode(key).toLowerCase();
            letras = "1234567890+";
            especiales = [8, 37, 39, 46];

            tecla_especial = false
            for(var i in especiales) {
                if(key == especiales[i]) {
                    tecla_especial = true;
                    break;
                }
            }

            if(letras.indexOf(tecla) == -1 && !tecla_especial)
                return false;
        }

        function sinEspacios(e){
           key = e.keyCode || e.which;
           tecla = String.fromCharCode(key)
           letras = "ABCDEFGHIJKLMNOPQRSTUVWXYZáéíóúabcdefghijklmnñopqrstuvwxyz1234567890*-+{}[]!#$%&/()=¡<>,.@";
           especiales = "8-37-39-46";
    
           tecla_especial = false
           for(var i in especiales){
                if(key == especiales[i]){
                    tecla_especial = true;
                    break;
                }
            }
    
            if(letras.indexOf(tecla)==-1 && !tecla_especial){
                return false;
            }
        }

    </script>
{% endblock %}
