{% extends 'layout.html' %}
{% load widget_tweaks %}
{% block content %}
    <div class="container p-3">
        <div class="container registro pt-3" style="width:60%">
            
            {% if messages %}
                <ul class="messages list-group mb-3">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }} list-group-item list-group-item-primary"{% endif %}>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            
            <h1>{{user.first_name}} {{user.last_name}}</h1>
            
            <form method="post" action="" class="p-3">
                {% csrf_token %}
                <div class="container">
                    <div class="form-group">
                        <label for="is_superuser" class="txt_negrita">Es administrador?</label>
                        {{ form.is_superuser }}
                    </div>
    
                    <div class="form-group">
                        <label for="is_staff" class="txt_negrita">Es empleado?</label>
                        {{ form.is_staff }}
                    </div>
    
                    <div class="form-group">
                        <label for="is_staff" class="txt_negrita">Esta activo?</label>
                        {{ form.is_active }}
                    </div>
                </div>
                
                <button type="submit" id="boton_aceptar" class="btn btn-primary">Aceptar</button>
                <a href="../" type="submit" class="btn btn-primary">Cancelar</a> 
            </form>
        </div>
    </div>
    
    
{% endblock %}