{% extends 'layout.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/usuarios.css' %}">
    <div class="pt-4">
        <div class="pl-5 pr-5">
            
            {% if messages %}
                <ul class="messages list-group mb-3">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }} list-group-item list-group-item-primary"{% endif %}>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            
            <form method="post" action="" class="">
                {% csrf_token %}
                
                <div class="container contenedorCrearUsuario">
                    <h1 class="text-center p-3">Crear Usuario</h1>
                    <p>
                        <label for="username">Usuario:</label>
                        <input class="form-control" type="text" name="username" onkeypress="return soloLetras(event)"/>
                    </p>
                
                    <p>
                        <label for="first_name">Nombre:</label>
                        <input class="form-control" type="text" name="first_name" onkeypress="return soloLetras(event)"/>
                    </p>
            
                    <p>
                        <label for="last_name">Apellido:</label>
                        <input class="form-control" type="text" name="last_name" onkeypress="return soloLetras(event)"/>
                    </p>
                
                    <p>
                        <label for="email">Correo:</label>
                        <input class="form-control" type="text" name="email" onkeypress="return sinEspacios(event)"/>
                    </p>
                
                    <p>
                        <label for="password1">Contraseña:</label>
                        <input class="form-control" type="password" name="password1" onkeypress="return sinEspacios(event)"/>
                    </p>
                
                    <p>
                        <label for="password2">Confirme Contraseña:</label>
                        <input class="form-control" type="password" name="password2" onkeypress="return sinEspacios(event)"/>
                    </p>
                
                    <p>
                        <label for="is_superuser" class="p-2">Es administrador?:</label>
                        <input type="checkbox" class="checkboxCrear" name="is_superuser"/>
                    </p>
                    
                    <div class="text-center">
                        <button type="submit" id="boton_aceptar" class="btn btn-primary">Aceptar</button>
                        <a href="../" type="submit" class="btn btn-primary">Cancelar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>
        function manual(){
            Swal.fire({
                title: 'Manual',
                html: `dentro de estos campos podemos encontrar:<br><br>
                • Usuario: Corresponde al nombre de usuario que desee la persona.<br><br>
                • Nombre: Corresponde al primer nombre de la persona a quien se le 
                creara el usuario.<br><br>
                • Apellido: Corresponde al primer apellido de la persona a quien se 
                le creara el usuario.<br><br>
                • Correo: Corresponde a la dirección de correo electrónico de la 
                persona a quien se le creara el usuario.<br><br>
                • Contraseña: Será la contraseña de acceso que desee la persona a 
                quien se le creará el usuario.<br><br>
                • Confirme contraseña: Corresponde a la contraseña de acceso que se 
                ingresó previamente en el campo “Contraseña”, ambas deben ser 
                completamente iguales, con la finalidad de confirmar la asignación 
                de la contraseña ingresada. <br><br>

                Luego podremos observar una opción para validar si el usuario a 
                crear pertenece o no a un usuario con rol de administrador dentro 
                del sistema.<br>
                Para confirmar que el usuario que se está creando corresponde a un 
                usuario administrador, se deberá marcar el pequeño recuadro adjunto 
                presionando sobre él.<br>
                En caso contrario, es decir, si se desea crear un usuario sin 
                privilegios de administrador, deberemos corroborar que la opción 
                “¿Es administrador?” se encuentre desmarcada.
                <br><br>
                Luego de completar el formulario con la información solicitada, 
                se deberá presionar en el botón “Aceptar”.<br>
                En caso de querer interrumpir la acción de crear un usuario, en 
                cualquier momento podremos acceder al botón “Cancelar”, esto nos 
                redireccionará a la interfaz principal de administración de usuarios. 
                <br><br>
                Tras seleccionar el botón Aceptar, y si los campos fueron introducidos 
                con información válida, se creará el usuario en el sistema.
                Esto lo podemos saber gracias a un mensaje de confirmación que se 
                nos mostrará en pantalla luego de ser redirigidos a la interfaz 
                principal de administración de usuarios, que nos informará que el 
                usuario fue creado correctamente. <br>
                Podremos corroborar que la creación del usuario fue exitosa al poder 
                visualizar al usuario recientemente creado dentro de la interfaz principal.
                `,
                showConfirmButton: true,
                confirmButtonText: 'Continuar',
            })
        }
    </script>
    <script>
        function soloLetras(e){
           key = e.keyCode || e.which;
           tecla = String.fromCharCode(key)
           letras = " ABCDEFGHIJKLMNOPQRSTUVWXYZáéíóúabcdefghijklmnñopqrstuvwxyz";
           especiales = "8-37-39-46";
    
           tecla_especial = false
           for(var i in especiales){
                if(key == especiales[i]){
                    tecla_especial = true;
                    break;
                }
            }
    
            if(letras.indexOf(tecla)==-1 && !tecla_especial){
                return false;
            }
        }

        function sinEspacios(e){
           key = e.keyCode || e.which;
           tecla = String.fromCharCode(key)
           letras = "ABCDEFGHIJKLMNOPQRSTUVWXYZáéíóúabcdefghijklmnñopqrstuvwxyz1234567890*-+{}[]!#$%&/()=¡<>,.@";
           especiales = "8-37-39-46";
    
           tecla_especial = false
           for(var i in especiales){
                if(key == especiales[i]){
                    tecla_especial = true;
                    break;
                }
            }
    
            if(letras.indexOf(tecla)==-1 && !tecla_especial){
                return false;
            }
        }


    </script>
  
{% endblock %}
