{% extends 'layout.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/usuarios.css' %}">
    <div class="container contenedorCrearUsuario p-5 mt-3">
        <h1 class="text-center" >Detalles del Usuario</h1>
        <div class="row p-5">
            <div class="col-md-2"></div>
            <div class="col-md-4 cajaDetalles">
                <span class="txt_negrita">Usuario: {{usuario.username}}</span></br>
                <span class="txt_negrita">Nombre: {{usuario.first_name}}</span></br>
                <span class="txt_negrita">Apellido: {{usuario.last_name}}</span></br>
                <span class="txt_negrita">Email: {{usuario.email}}</span></br>
                <!-- Botón para volver a la vista principal (Home) -->
                </br>
                <a href="../" type="submit" class="btn btn-primary">Volver</a>
            </div>
            
        </div>
        
    </div>
    <script>
        function manual(){
            Swal.fire({
                title: 'Manual',
                html: `En esta pagina podemos ver el detalle del usuario seleccionado,
                estos detalles son:
                <br><br>
                Su nombre, apellido, dirección de correo electrónico y su 
                nombre de usuario en sistema. <br>
                Para poder regresar a la interfaz principal de administración de 
                usuarios, deberemos presionar el botón “Volver” que veremos en la 
                parte inferior. 
                `,
                showConfirmButton: true,
                confirmButtonText: 'Continuar',
            })
        }
    </script>
{% endblock %}
