{% extends 'layout.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
  <link rel="stylesheet" href="{% static 'css/usuarios.css' %}">
    <div class="container p-3">
      <h1 class="text-center">Administracion de Usuarios</h1>
      <div class="container mb-4">
        {% if messages %}
          <ul class="messages list-group mb-3">
            {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }} list-group-item list-group-item-primary"{% endif %}>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <table class="table table-striped table-hover">
        <h3 class="titulo-usuario text-center p-2 mb-0">Usuarios</h3>
        <thead>
          <tr>
            <th>Usuario</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Es administrador?</th>
            <th>Esta activo?</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
        
        <!-- Recorremos los objetos o registros que tenemos en nuestra tabla 'postres' y los listamos -->
        {% for user in usuarios %}
          <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            {% if user.is_superuser %}
              <td class="">Si</td>
            {% else %}
              <td class="">No</td>
            {% endif %}
            
            {% if user.is_active %}
              <td class="">Si</td>
            {% else %}
              <td class="">No</td>
            {% endif %}
            <td>
      
              <!-- Usaremos un formulario que realizará la tarea de eliminar un registro o postre desde la misma tabla HTML -->                        
              <form method="POST" action="">
                {% csrf_token %}
                <div class="btn-group">
      
                  <!-- Creamos 3 botones que son ver, Editar y Eliminar, nos sirven para gestionar nuestros registros o postres -->
                  <a href="detalle/{{user.id}}" title="Ver" type="button" class="btn btn-success">Ver </a>
                  <a href="editar/{{user.id}}" title="Editar" type="button" class="btn btn-primary">Editar </a>
                  
                  {% if user.is_active %}
                    <a href="desactivarUsuario/{{user.id}}" title="DesactivarUsuario" type="button" class="btn btn-danger">DesactivarUsuario </a>
                  {% else %}
                    <a href="activarUsuario/{{user.id}}" title="ActivarUsuario" type="button" class="btn btn-danger">ActivarUsuario </a>
                  {% endif %}
                
                </div>
              </form>
      
            </td>
          </tr>
        {% endfor %}
      
        </tbody>
      </table>

      <div align="left" class="btn_crear mb-3">
        <a href="{% url 'crearUsuario' %}" type="button" class="btn btn-primary">Crear</a>
      </div>

    </div>
    <script>
      function manual(){
        Swal.fire({
          title: 'Manual',
          html: `En esta página podremos visualizar en una lista todos los usuarios creados.
          Junto a cada usuario se encuentran las siguientes acciones:
          <br><br>
            • Ver<br>
            • Editar<br>
            • Activar usuario<br>
            • Desactivar usuario<br><br>
          Además, en la parte inferior izquierda, podremos ubicar el botón de “Crear”
          <br><br>
          Al seleccionar la opción “Crear” se nos redirigirá a la creación de usuarios, 
          en donde 
          veremos distintos campos que deberemos llenar con la información que se nos 
          solicita
          <br><br>
          Al seleccionar la acción de “Ver” de algún usuario, se nos redirigirá hacia 
          un apartado que contendrá detalles del usuario seleccionado.
          <br><br>
          Si seleccionamos la acción de “Editar”, se nos llevará a un apartado que 
          nos permitirá editar los datos del usuario seleccionado. 
          <br><br>
          Dentro de la administración de usuarios, nosotros podremos activar o 
          desactivar un usuario.<br>
          En caso de requerir la desactivación de un usuario ya activo, deberemos 
          situarnos sobre el botón “Desactivar usuario” y presionar sobre él, esto 
          hará que el estado del usuario cambie a inactivo, esto lo podremos 
          corroborar visualizando el apartado de “Está activo” perteneciente al usuario.<br>
          Además, al cambiar su estado, la acción que realiza el botón cambiará de 
          forma automática, ahora permitiéndonos activar dicho usuario en caso de 
          presionar sobre él. <br>
          Esto lo podremos saber gracias al nombre del botón, que cambió a “Activar 
          Usuario”. 
          <br><br>
          Si queremos realizar la activación de un usuario, seleccionamos la acción 
          de “Activar usuario” perteneciente al usuario a activar, podremos ver que 
          su estado dentro del apartado “Está activo?” cambia a “Si” a la par que se 
          nos muestra un mensaje informativo en pantalla sobre que el cambio de 
          estado fue realizado de manera exitosa. 
          `,
          showConfirmButton: true,
          confirmButtonText: 'Continuar',
        })
      }
    </script>
{% endblock %}