{% extends 'layout.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
    <div class="row pb-5 pt-3">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <div class="container ingreso p-5 text-center">

                <h1 class=" m-5">Su contrasena se reestablecio correctamente</h1>

                <a href="{% url 'ingresar' %}" class="btn btn-outline-danger mb-5">Ingresar</a>

            </div>
        </div>
        
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock %}