{% extends 'layout.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
    <div class="row pb-5 pt-3">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
    <div class="container ingreso p-5">
    {% comment %} {{ if validlink }} {% endcomment %}
        <h1>Nueva contrasena</h1>
        <form method="post">
            {% csrf_token %}
            <label for="id_new_password1">Nueva contrasena:</label>
            {{ form.new_password1|add_class:"form-control" }}
            <label for="id_new_password2">Confirme contrasena:</label>
            {{ form.new_password2|add_class:"form-control" }}
            <input type="submit" name="Cambiar mi contrasena" class="btn btn-outline-danger mt-3">
        </form>
    {% comment %} {{ else }}
        <h1>Enlace invalido: este enlace ya ha sido utilizado</h1>
    {{ endif }} {% endcomment %}
    </div>
    </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
 
{% endblock %}