{% extends 'layout_registration.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
    
    <div class="container ingreso p-5 text-center">

        <h1 class="m-5 pb-3">Su contraseña se reestablecio correctamente</h1>

        <a href="{% url 'login' %}" class="btn btn-outline-success mb-5">Ingresar</a>

    </div>

    <script>
        function manual(){
            Swal.fire({
                title: 'Manual',
                html: `Ya podemos ver que nuestra contraseña a sido cambiada, 
                tras esto, solo debemos seleccionar la opción “Ingresar”, 
                la cual nos redireccionará nuevamente al formulario de inicio 
                de sesión, en donde nosotros debemos ingresar nuestra nueva contraseña. 
                `,
                showConfirmButton: true,
                confirmButtonText: 'Continuar',
            })
        }
    </script>
{% endblock %}