{% extends 'layout.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
    <div class="row pb-5 pt-3">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
            <div class="container ingreso p-5">
                <h1 class="text-center p-2">Ingresa el correo al que deseas que te enviemos el enlace de reestablecimiento</h1>
                <form method="post">
                    {% csrf_token %}
                    <label for="id_email">Correo:</label>{{ form.email|add_class:"form-control" }}
                    <input type="submit" name"Enviar" class="btn btn-outline-danger mt-3">
                </form>
            </div>
        </div>
    </div>
     <br>
    <br>
    <br>
    <br>
{% endblock %}