
{% extends 'layout_registration.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
    
    <div class="container p-4 pt-5">

        <h1 class="text-center pb-5 pt-3">Te hemos enviado un correo con un enlace para reestablecer tu contrasena</h1>
        <div class="mt-3 pt-3 pb-3">
            <a href="{% url 'login' %}" type="submit" class="btn btn-outline-success">Volver</a> 
        </div>
    </div>
    <script>
        function manual(){
            Swal.fire({
                title: 'Manual',
                html: `Tras seleccionar la opción “Enviar”, el sistema le 
                redirigirá automáticamente hacia una página que nos indica 
                que se ha generado automáticamente un enlace de restablecimiento 
                de contraseña y este se ha enviado a la dirección de correo ingresada. 
                <br><br>
                Esto lo podemos comprobar directamente ingresando a nuestro 
                correo electrónico.
                Dentro de la bandeja de entrada, deberíamos recibir un correo 
                por parte de “Almacén Yuyitos”, el cual contiene nuestro nombre 
                de usuario, junto al enlace generado automáticamente en sistema 
                para efectuar así el cambio de contraseña.
                <br><br>
                Para poder completar el proceso de restablecimiento de contraseña, 
                usted deberá abrir el enlace provisto vía correo electrónico, 
                este enlace le llevará directamente hacia un formulario el cual 
                le permitirá ingresar una nueva contraseña
                `,
                showConfirmButton: true,
                confirmButtonText: 'Continuar',
            })
        }
    </script>
{% endblock %}