{% extends 'layout.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
  <link rel="stylesheet" href="{% static 'css/proveedores.css' %}">
    <div class="container p-3">
      <h1 class="text-center">Administrador de Boletas</h1>
      <div class="container mb-4">
        {% if messages %}
          <ul class="messages list-group mb-3">
            {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }} list-group-item list-group-item-primary"{% endif %}>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <table class="table table-striped table-hover">
        <h3 class="titulo-proveedor text-center p-2 mb-0">Boletas</h3>
        <thead>
          <tr>
            <th>Numero</th>
            <th>Fecha de boleta</th>
            <th>Total</th>
            <th>Estado</th>
           <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
        
        <!-- Recorremos los objetos o registros que tenemos en nuestra tabla 'postres' y los listamos -->
        {% for boleta in boletas %}
          <tr>
            <TD>{{boleta.id}}</TD>
            <td>{{boleta.fecha_boleta }}</td>
            <td>{{boleta.total_a_pagar }}</td>
            
            {% if boleta.estado == 1 %}
              <td class="">Activa</td>
            {% else %}
              <td class="">Anulada</td>
            {% endif %}
            
            <td>
      
              <!-- Usaremos un formulario que realizará la tarea de eliminar un registro o postre desde la misma tabla HTML -->                        
              <form method="POST" action="">
                {% csrf_token %}
                <div class="btn-group">
      
                  <!-- Creamos 3 botones que son ver, Editar y Eliminar, nos sirven para gestionar nuestros registros o postres -->
                  <a href="detalle/{{boleta.id}}" title="Ver" type="button" class="btn btn-success">Ver </a>
                  {% if boleta.estado %}
                    <a href="desactivarBoleta/{{boleta.id}}" title="DesactivarBoleta" type="button" class="btn btn-danger">Desactivar Boleta</a>
                  {% else %}
                    <a href="activarBoleta/{{boleta.id}}" title="ActivarBoleta" type="button" class="btn btn-danger">Activar Boleta</a>
                  {% endif %}
                </div>
              </form>
      
            </td>
          </tr>
        {% endfor %}
      
        </tbody>
      </table>
    </div>
    <script>
      function manual(){
        Swal.fire({
          title: 'Manual',
          html: `Dentro de este módulo podremos observar todas las boletas que 
          fueron generadas por medio de las ventas realizadas.
          Junto a cada una de las boletas, se nos presentan acciones que nos 
          permitirán ver, activar o desactivar dicha boleta. 
          <br><br>
          Si decidimos visualizar alguna boleta, se nos redirigirá hacia un apartado 
          que nos dejará ver su detalle.
          <br><br>
          En la administración de boletas, también podemos optar por activar o 
          desactivar alguna boleta.
          En caso de requerir la desactivación de una boleta en específico, solo 
          bastará con seleccionar la opción de “Desactivar boleta”, esto hará que 
          el estado de la boleta seleccionada cambie automáticamente de estado a 
          “Anulada” a la par que el propio sistema nos dará aviso sobre la 
          desactivación de esta.
          Además, al realizarse el cambio de estado, el botón de acción cambiará 
          automáticamente a “Activar boleta”.  
          <br><br>
          Si, por el contrario, queremos realizar la activación de una boleta, 
          solo bastará posicionarnos sobre una boleta ya desactivada, luego nos 
          dirigiremos a la opción de “Activar boleta”, esto realizará el cambio 
          de estado a “Activo” automáticamente, dándonos aviso por medio de mensaje 
          del cambio realizado.
          Esta acción hará que el botón de acción correspondiente a dicha boleta 
          cambie a “Desactivar Boleta”.
          `,
          showConfirmButton: true,
          confirmButtonText: 'Continuar',
        })
      }
    </script>
{% endblock %}