{% extends 'layout.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
    <div class="container p-3">
        <div class="container registro pt-3" style="width:60%">
            
            {% if messages %}
                <ul class="messages list-group mb-3">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }} list-group-item list-group-item-primary"{% endif %}>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            
            <form method="post" action="" class="p-3">
                {% csrf_token %}
                <div class="form-group">
                    <label for="proveedor" class="txt_negrita">Proveedor:</label>
                    {{ form.proveedor|add_class:"form-control" }} <!-- Usamos la librería 'widget_tweaks' para crear esta caja de texto -->
                </div>
               
                <div class="form-group">
                    <label for="fecha_llegada" class="txt_negrita">Fecha de llegada:</label>
                    {{ form.fecha_llegada|add_class:"form-control" }} <!-- Usamos la librería 'widget_tweaks' para crear esta caja de texto --> 
                </div>
                <div class="form-group">
                    <label for="fecha_recepcion" class="txt_negrita">Fecha de recepcion:</label>
                    {{ form.fecha_recepcion|add_class:"form-control" }} <!-- Usamos la librería 'widget_tweaks' para crear esta caja de texto --> 
                </div>
                <div class="form-group">
                    <label for="hora_recepcion" class="txt_negrita">Hora de recepcion:</label>
                    {{ form.hora_recepcion|add_class:"form-control" }} <!-- Usamos la librería 'widget_tweaks' para crear esta caja de texto --> 
                </div>

                <div class="form-group">
                    <label for="estado_recepcion" class="txt_negrita">Estado de Recepcion:</label>
                    {{ form.estado_recepcion|add_class:"form-control" }} <!-- Usamos la librería 'widget_tweaks' para crear esta caja de texto -->
                </div>
                
                <button type="submit" id="boton_aceptar" class="btn btn-primary">Aceptar</button>
                <a href="{% url 'listarPedidos' %}" type="submit" class="btn btn-primary">Cancelar</a> 
            </form>
        </div>
    </div>
  
{% endblock %}
