{% extends 'layout.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
  <link rel="stylesheet" href="{% static 'css/proveedores.css' %}">
    <div class="container p-3">
      <h1 class="text-center">Administracion de Ordenes de Pedidos</h1>
      <div class="container mb-4">
        {% if messages %}
          <ul class="messages list-group mb-3">
            {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }} list-group-item list-group-item-primary"{% endif %}>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <table class="table table-striped table-hover">
        <h3 class="titulo-proveedor text-center p-2 mb-0">Pedidos</h3>
        <thead>
          <tr>
            <th>Numero de Orden</th>
            <th>Proveedor</th>
            <th>Fecha creacion</th>
            <th>Estado pedido</th>
           <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
        
        <!-- Recorremos los objetos o registros que tenemos en nuestra tabla 'postres' y los listamos -->
        {% for orden in ordenP %}
          <tr>
            <TD>{{orden.id}}</TD>
            <td>{{orden.proveedor }}</td>
            <td>{{orden.fecha_pedido }}</td>
            {% if orden.estado_recepcion == 0 %}
              <td class="">En espera</td>
            {% elif orden.estado_recepcion == 1 %}
              <td class="">Recepcionado</td>
            {% elif orden.estado_recepcion == 3 %}
              <td class="">Anulado</td>
            {% else %}
              <td class="">Atrasado</td>
            {% endif %}
            <td>
      
              <!-- Usaremos un formulario que realizará la tarea de eliminar un registro o postre desde la misma tabla HTML -->                        
              <form method="POST" action="">
                {% csrf_token %}
                <div class="btn-group">
      
                  <!-- Creamos 3 botones que son ver, Editar y Eliminar, nos sirven para gestionar nuestros registros o postres -->
                  <a href="detalle/{{orden.id}}" title="Ver" type="button" class="btn btn-success">Ver </a>
                  <!-- <a href="editar/{{orden.id}}" title="Editar" type="button" class="btn btn-primary">Editar </a> -->
                  
                  {% if orden.estado_recepcion == 0 or orden.estado_recepcion == 2 %}
                    <a href="desactivarPedido/{{orden.id}}" title="DesactivarPedido" type="button" class="btn btn-danger">Desactivar Pedido</a>
                  {% endif %}
                  {% if orden.estado_recepcion == 3 %}
                    <a href="activarPedido/{{orden.id}}" title="ActivarPedido" type="button" class="btn btn-danger">Activar Pedido</a>
                  {% endif %}
                
                </div>
              </form>
      
            </td>
          </tr>
        {% endfor %}
      
        </tbody>
      </table>

      <div align="left" class="btn_crear mb-3">
        <a href="{% url 'crearPedido' %}" type="button" class="btn btn-primary">Crear</a>
      </div>

    </div>
    <script>
      function manual(){
        Swal.fire({
          title: 'Manual',
          html: `En esta página podemos ver todas las ordenes de pedido creadas.
          Junto a cada una se encuentran las siguientes acciones:
          <br><br>
          • Ver<br>
          • Activar Pedido<br>
          • Desactivar Pedido<br>
          • Crear
          <br><br>
          Este último lo podremos encontrar en la parte inferior izquierda de la interfaz.
          <br><br>
          Si hacemos clic sobre el botón “Crear” se nos llevará a la interfaz de 
          creación de ordenes de pedido.
          <br><br>
          Si accedemos a la opción “Ver”, se nos llevará a un apartado donde podremos 
          visualizar todos los detalles de la orden seleccionada.
          <br><br>
          Dentro de la administración de ordenes de pedidos, nosotros podremos 
          activar o desactivar un pedido.<br>
          En caso de requerir la desactivación de un pedido, deberemos situarnos 
          sobre el botón “Desactivar pedido” y presionar sobre él, esto hará que 
          el estado del pedido cambie a Anulado, esto lo podremos corroborar 
          visualizando el apartado de “Estado del pedido”.<br>
          Además, al cambiar su estado, la acción que realiza el botón cambiará de 
          forma automática, ahora permitiéndonos activar dicho pedido en caso de 
          presionar sobre él. <br>
          Esto lo podremos saber gracias al nombre del botón, que cambió a 
          “Activar Pedido”.
          <br><br>
          Si queremos realizar la activación de un pedido, seleccionamos la acción 
          de “Activar pedido”, podremos ver que su estado dentro del apartado “Estado 
          del pedido” cambia a “En espera” a la par que se nos muestra un mensaje 
          informativo en pantalla sobre que el pedido fue activado exitosamente. 
          `,
          showConfirmButton: true,
          confirmButtonText: 'Continuar',
        })
      }
    </script>
{% endblock %}